<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8D</string>
		<key>u_code</key>
		<string>\uD83C\uDF8D</string>
		<key>code</key>
		<string>e3_001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC9D</string>
		<key>u_code</key>
		<string>\uD83D\uDC9D</string>
		<key>code</key>
		<string>e3_002</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8E</string>
		<key>u_code</key>
		<string>\uD83C\uDF8E</string>
		<key>code</key>
		<string>e3_003</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF92</string>
		<key>u_code</key>
		<string>\uD83C\uDF92</string>
		<key>code</key>
		<string>e3_004</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF93</string>
		<key>u_code</key>
		<string>\uD83C\uDF93</string>
		<key>code</key>
		<string>e3_005</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8F</string>
		<key>u_code</key>
		<string>\uD83C\uDF8F</string>
		<key>code</key>
		<string>e3_006</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF86</string>
		<key>u_code</key>
		<string>\uD83C\uDF86</string>
		<key>code</key>
		<string>e3_007</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF87</string>
		<key>u_code</key>
		<string>\uD83C\uDF87</string>
		<key>code</key>
		<string>e3_008</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF90</string>
		<key>u_code</key>
		<string>\uD83C\uDF90</string>
		<key>code</key>
		<string>e3_009</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF91</string>
		<key>u_code</key>
		<string>\uD83C\uDF91</string>
		<key>code</key>
		<string>e3_010</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF83</string>
		<key>u_code</key>
		<string>\uD83C\uDF83</string>
		<key>code</key>
		<string>e3_011</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC7B</string>
		<key>u_code</key>
		<string>\uD83D\uDC7B</string>
		<key>code</key>
		<string>e3_012</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF85</string>
		<key>u_code</key>
		<string>\uD83C\uDF85</string>
		<key>code</key>
		<string>e3_013</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF84</string>
		<key>u_code</key>
		<string>\uD83C\uDF84</string>
		<key>code</key>
		<string>e3_014</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF81</string>
		<key>u_code</key>
		<string>\uD83C\uDF81</string>
		<key>code</key>
		<string>e3_015</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8B</string>
		<key>u_code</key>
		<string>\uD83C\uDF8B</string>
		<key>code</key>
		<string>e3_016</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF89</string>
		<key>u_code</key>
		<string>\uD83C\uDF89</string>
		<key>code</key>
		<string>e3_017</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8A</string>
		<key>u_code</key>
		<string>\uD83C\uDF8A</string>
		<key>code</key>
		<string>e3_018</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF88</string>
		<key>u_code</key>
		<string>\uD83C\uDF88</string>
		<key>code</key>
		<string>e3_019</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF8C</string>
		<key>u_code</key>
		<string>\uD83C\uDF8C</string>
		<key>code</key>
		<string>e3_020</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2E</string>
		<key>u_code</key>
		<string>\uD83D\uDD2E</string>
		<key>code</key>
		<string>e3_021</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA5</string>
		<key>u_code</key>
		<string>\uD83C\uDFA5</string>
		<key>code</key>
		<string>e3_022</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF7</string>
		<key>u_code</key>
		<string>\uD83D\uDCF7</string>
		<key>code</key>
		<string>e3_023</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF9</string>
		<key>u_code</key>
		<string>\uD83D\uDCF9</string>
		<key>code</key>
		<string>e3_024</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCFC</string>
		<key>u_code</key>
		<string>\uD83D\uDCFC</string>
		<key>code</key>
		<string>e3_025</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBF</string>
		<key>u_code</key>
		<string>\uD83D\uDCBF</string>
		<key>code</key>
		<string>e3_026</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC0</string>
		<key>u_code</key>
		<string>\uD83D\uDCC0</string>
		<key>code</key>
		<string>e3_027</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBD</string>
		<key>u_code</key>
		<string>\uD83D\uDCBD</string>
		<key>code</key>
		<string>e3_028</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBE</string>
		<key>u_code</key>
		<string>\uD83D\uDCBE</string>
		<key>code</key>
		<string>e3_029</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBB</string>
		<key>u_code</key>
		<string>\uD83D\uDCBB</string>
		<key>code</key>
		<string>e3_030</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF1</string>
		<key>u_code</key>
		<string>\uD83D\uDCF1</string>
		<key>code</key>
		<string>e3_031</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u260E/uFE0F</string>
		<key>u_code</key>
		<string>\u260E\uFE0F</string>
		<key>code</key>
		<string>e3_032</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDE</string>
		<key>u_code</key>
		<string>\uD83D\uDCDE</string>
		<key>code</key>
		<string>e3_033</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDF</string>
		<key>u_code</key>
		<string>\uD83D\uDCDF</string>
		<key>code</key>
		<string>e3_034</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE0</string>
		<key>u_code</key>
		<string>\uD83D\uDCE0</string>
		<key>code</key>
		<string>e3_035</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE1</string>
		<key>u_code</key>
		<string>\uD83D\uDCE1</string>
		<key>code</key>
		<string>e3_036</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uD83D/uDCFA</string>
		<key>u_code</key>
		<string>\uD83D\uDCFA</string>
		<key>code</key>
		<string>e3_037</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCFB</string>
		<key>u_code</key>
		<string>\uD83D\uDCFB</string>
		<key>code</key>
		<string>e3_038</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0A</string>
		<key>u_code</key>
		<string>\uD83D\uDD0A</string>
		<key>code</key>
		<string>e3_039</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD09</string>
		<key>u_code</key>
		<string>\uD83D\uDD09</string>
		<key>code</key>
		<string>e3_040</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD08</string>
		<key>u_code</key>
		<string>\uD83D\uDD08</string>
		<key>code</key>
		<string>e3_041</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD07</string>
		<key>u_code</key>
		<string>\uD83D\uDD07</string>
		<key>code</key>
		<string>e3_042</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD14</string>
		<key>u_code</key>
		<string>\uD83D\uDD14</string>
		<key>code</key>
		<string>e3_043</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD15</string>
		<key>u_code</key>
		<string>\uD83D\uDD15</string>
		<key>code</key>
		<string>e3_044</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE2</string>
		<key>u_code</key>
		<string>\uD83D\uDCE2</string>
		<key>code</key>
		<string>e3_045</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE3</string>
		<key>u_code</key>
		<string>\uD83D\uDCE3</string>
		<key>code</key>
		<string>e3_046</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23F3</string>
		<key>u_code</key>
		<string>\u23F3</string>
		<key>code</key>
		<string>e3_047</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u231B/uFE0F</string>
		<key>u_code</key>
		<string>\u231B\uFE0F</string>
		<key>code</key>
		<string>e3_048</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23F0</string>
		<key>u_code</key>
		<string>\u23F0</string>
		<key>code</key>
		<string>e3_049</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u231A/uFE0F</string>
		<key>u_code</key>
		<string>\u231A\uFE0F</string>
		<key>code</key>
		<string>e3_050</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD13</string>
		<key>u_code</key>
		<string>\uD83D\uDD13</string>
		<key>code</key>
		<string>e3_051</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD12</string>
		<key>u_code</key>
		<string>\uD83D\uDD12</string>
		<key>code</key>
		<string>e3_052</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0F</string>
		<key>u_code</key>
		<string>\uD83D\uDD0F</string>
		<key>code</key>
		<string>e3_053</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD10</string>
		<key>u_code</key>
		<string>\uD83D\uDD10</string>
		<key>code</key>
		<string>e3_054</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD11</string>
		<key>u_code</key>
		<string>\uD83D\uDD11</string>
		<key>code</key>
		<string>e3_055</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0E</string>
		<key>u_code</key>
		<string>\uD83D\uDD0E</string>
		<key>code</key>
		<string>e3_056</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA1</string>
		<key>u_code</key>
		<string>\uD83D\uDCA1</string>
		<key>code</key>
		<string>e3_057</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD26</string>
		<key>u_code</key>
		<string>\uD83D\uDD26</string>
		<key>code</key>
		<string>e3_058</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD06</string>
		<key>u_code</key>
		<string>\uD83D\uDD06</string>
		<key>code</key>
		<string>e3_059</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD05</string>
		<key>u_code</key>
		<string>\uD83D\uDD05</string>
		<key>code</key>
		<string>e3_060</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0C</string>
		<key>u_code</key>
		<string>\uD83D\uDD0C</string>
		<key>code</key>
		<string>e3_061</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0B</string>
		<key>u_code</key>
		<string>\uD83D\uDD0B</string>
		<key>code</key>
		<string>e3_062</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD0D</string>
		<key>u_code</key>
		<string>\uD83D\uDD0D</string>
		<key>code</key>
		<string>e3_063</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC1</string>
		<key>u_code</key>
		<string>\uD83D\uDEC1</string>
		<key>code</key>
		<string>e3_064</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC0</string>
		<key>u_code</key>
		<string>\uD83D\uDEC0</string>
		<key>code</key>
		<string>e3_065</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBF</string>
		<key>u_code</key>
		<string>\uD83D\uDEBF</string>
		<key>code</key>
		<string>e3_066</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBD</string>
		<key>u_code</key>
		<string>\uD83D\uDEBD</string>
		<key>code</key>
		<string>e3_067</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD27</string>
		<key>u_code</key>
		<string>\uD83D\uDD27</string>
		<key>code</key>
		<string>e3_068</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD29</string>
		<key>u_code</key>
		<string>\uD83D\uDD29</string>
		<key>code</key>
		<string>e3_069</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD28</string>
		<key>u_code</key>
		<string>\uD83D\uDD28</string>
		<key>code</key>
		<string>e3_070</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAA</string>
		<key>u_code</key>
		<string>\uD83D\uDEAA</string>
		<key>code</key>
		<string>e3_071</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAC</string>
		<key>u_code</key>
		<string>\uD83D\uDEAC</string>
		<key>code</key>
		<string>e3_072</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA3</string>
		<key>u_code</key>
		<string>\uD83D\uDCA3</string>
		<key>code</key>
		<string>e3_073</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2B</string>
		<key>u_code</key>
		<string>\uD83D\uDD2B</string>
		<key>code</key>
		<string>e3_074</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2A</string>
		<key>u_code</key>
		<string>\uD83D\uDD2A</string>
		<key>code</key>
		<string>e3_075</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8A</string>
		<key>u_code</key>
		<string>\uD83D\uDC8A</string>
		<key>code</key>
		<string>e3_076</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC89</string>
		<key>u_code</key>
		<string>\uD83D\uDC89</string>
		<key>code</key>
		<string>e3_077</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB0</string>
		<key>u_code</key>
		<string>\uD83D\uDCB0</string>
		<key>code</key>
		<string>e3_078</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB4</string>
		<key>u_code</key>
		<string>\uD83D\uDCB4</string>
		<key>code</key>
		<string>e3_079</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB5</string>
		<key>u_code</key>
		<string>\uD83D\uDCB5</string>
		<key>code</key>
		<string>e3_080</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB7</string>
		<key>u_code</key>
		<string>\uD83D\uDCB7</string>
		<key>code</key>
		<string>e3_081</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB6</string>
		<key>u_code</key>
		<string>\uD83D\uDCB6</string>
		<key>code</key>
		<string>e3_082</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB3</string>
		<key>u_code</key>
		<string>\uD83D\uDCB3</string>
		<key>code</key>
		<string>e3_083</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB8</string>
		<key>u_code</key>
		<string>\uD83D\uDCB8</string>
		<key>code</key>
		<string>e3_084</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF2</string>
		<key>u_code</key>
		<string>\uD83D\uDCF2</string>
		<key>code</key>
		<string>e3_085</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE7</string>
		<key>u_code</key>
		<string>\uD83D\uDCE7</string>
		<key>code</key>
		<string>e3_086</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE5</string>
		<key>u_code</key>
		<string>\uD83D\uDCE5</string>
		<key>code</key>
		<string>e3_087</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE4</string>
		<key>u_code</key>
		<string>\uD83D\uDCE4</string>
		<key>code</key>
		<string>e3_088</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2709/uFE0F</string>
		<key>u_code</key>
		<string>\u2709\uFE0F</string>
		<key>code</key>
		<string>e3_089</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE9</string>
		<key>u_code</key>
		<string>\uD83D\uDCE9</string>
		<key>code</key>
		<string>e3_090</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE8</string>
		<key>u_code</key>
		<string>\uD83D\uDCE8</string>
		<key>code</key>
		<string>e3_091</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCEF</string>
		<key>u_code</key>
		<string>\uD83D\uDCEF</string>
		<key>code</key>
		<string>e3_092</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCEB</string>
		<key>u_code</key>
		<string>\uD83D\uDCEB</string>
		<key>code</key>
		<string>e3_093</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCEA</string>
		<key>u_code</key>
		<string>\uD83D\uDCEA</string>
		<key>code</key>
		<string>e3_094</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCEC</string>
		<key>u_code</key>
		<string>\uD83D\uDCEC</string>
		<key>code</key>
		<string>e3_095</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCED</string>
		<key>u_code</key>
		<string>\uD83D\uDCED</string>
		<key>code</key>
		<string>e3_096</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCEE</string>
		<key>u_code</key>
		<string>\uD83D\uDCEE</string>
		<key>code</key>
		<string>e3_097</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCE6</string>
		<key>u_code</key>
		<string>\uD83D\uDCE6</string>
		<key>code</key>
		<string>e3_098</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDD</string>
		<key>u_code</key>
		<string>\uD83D\uDCDD</string>
		<key>code</key>
		<string>e3_099</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC4</string>
		<key>u_code</key>
		<string>\uD83D\uDCC4</string>
		<key>code</key>
		<string>e3_100</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC3</string>
		<key>u_code</key>
		<string>\uD83D\uDCC3</string>
		<key>code</key>
		<string>e3_101</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD1</string>
		<key>u_code</key>
		<string>\uD83D\uDCD1</string>
		<key>code</key>
		<string>e3_102</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCA</string>
		<key>u_code</key>
		<string>\uD83D\uDCCA</string>
		<key>code</key>
		<string>e3_103</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC8</string>
		<key>u_code</key>
		<string>\uD83D\uDCC8</string>
		<key>code</key>
		<string>e3_104</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC9</string>
		<key>u_code</key>
		<string>\uD83D\uDCC9</string>
		<key>code</key>
		<string>e3_105</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDC</string>
		<key>u_code</key>
		<string>\uD83D\uDCDC</string>
		<key>code</key>
		<string>e3_106</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCB</string>
		<key>u_code</key>
		<string>\uD83D\uDCCB</string>
		<key>code</key>
		<string>e3_107</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC5</string>
		<key>u_code</key>
		<string>\uD83D\uDCC5</string>
		<key>code</key>
		<string>e3_108</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC6</string>
		<key>u_code</key>
		<string>\uD83D\uDCC6</string>
		<key>code</key>
		<string>e3_109</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC7</string>
		<key>u_code</key>
		<string>\uD83D\uDCC7</string>
		<key>code</key>
		<string>e3_110</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC1</string>
		<key>u_code</key>
		<string>\uD83D\uDCC1</string>
		<key>code</key>
		<string>e3_111</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCC2</string>
		<key>u_code</key>
		<string>\uD83D\uDCC2</string>
		<key>code</key>
		<string>e3_112</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2702/uFE0F</string>
		<key>u_code</key>
		<string>\u2702\uFE0F</string>
		<key>code</key>
		<string>e3_113</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCC</string>
		<key>u_code</key>
		<string>\uD83D\uDCCC</string>
		<key>code</key>
		<string>e3_114</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCE</string>
		<key>u_code</key>
		<string>\uD83D\uDCCE</string>
		<key>code</key>
		<string>e3_115</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2712/uFE0F</string>
		<key>u_code</key>
		<string>\u2712\uFE0F</string>
		<key>code</key>
		<string>e3_116</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u270F/uFE0F</string>
		<key>u_code</key>
		<string>\u270F\uFE0F</string>
		<key>code</key>
		<string>e3_117</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCF</string>
		<key>u_code</key>
		<string>\uD83D\uDCCF</string>
		<key>code</key>
		<string>e3_118</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD0</string>
		<key>u_code</key>
		<string>\uD83D\uDCD0</string>
		<key>code</key>
		<string>e3_119</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD5</string>
		<key>u_code</key>
		<string>\uD83D\uDCD5</string>
		<key>code</key>
		<string>e3_120</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD7</string>
		<key>u_code</key>
		<string>\uD83D\uDCD7</string>
		<key>code</key>
		<string>e3_121</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD3</string>
		<key>u_code</key>
		<string>\uD83D\uDCD3</string>
		<key>code</key>
		<string>e3_122</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD2</string>
		<key>u_code</key>
		<string>\uD83D\uDCD2</string>
		<key>code</key>
		<string>e3_123</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD4</string>
		<key>u_code</key>
		<string>\uD83D\uDCD4</string>
		<key>code</key>
		<string>e3_124</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD8</string>
		<key>u_code</key>
		<string>\uD83D\uDCD8</string>
		<key>code</key>
		<string>e3_125</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD9</string>
		<key>u_code</key>
		<string>\uD83D\uDCD9</string>
		<key>code</key>
		<string>e3_126</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDA</string>
		<key>u_code</key>
		<string>\uD83D\uDCDA</string>
		<key>code</key>
		<string>e3_127</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCD6</string>
		<key>u_code</key>
		<string>\uD83D\uDCD6</string>
		<key>code</key>
		<string>e3_128</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD16</string>
		<key>u_code</key>
		<string>\uD83D\uDD16</string>
		<key>code</key>
		<string>e3_129</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCDB</string>
		<key>u_code</key>
		<string>\uD83D\uDCDB</string>
		<key>code</key>
		<string>e3_130</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2C</string>
		<key>u_code</key>
		<string>\uD83D\uDD2C</string>
		<key>code</key>
		<string>e3_131</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2D</string>
		<key>u_code</key>
		<string>\uD83D\uDD2D</string>
		<key>code</key>
		<string>e3_132</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF0</string>
		<key>u_code</key>
		<string>\uD83D\uDCF0</string>
		<key>code</key>
		<string>e3_133</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA8</string>
		<key>u_code</key>
		<string>\uD83C\uDFA8</string>
		<key>code</key>
		<string>e3_134</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAC</string>
		<key>u_code</key>
		<string>\uD83C\uDFAC</string>
		<key>code</key>
		<string>e3_135</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA4</string>
		<key>u_code</key>
		<string>\uD83C\uDFA4</string>
		<key>code</key>
		<string>e3_136</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA7</string>
		<key>u_code</key>
		<string>\uD83C\uDFA7</string>
		<key>code</key>
		<string>e3_137</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBC</string>
		<key>u_code</key>
		<string>\uD83C\uDFBC</string>
		<key>code</key>
		<string>e3_138</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB5</string>
		<key>u_code</key>
		<string>\uD83C\uDFB5</string>
		<key>code</key>
		<string>e3_139</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB6</string>
		<key>u_code</key>
		<string>\uD83C\uDFB6</string>
		<key>code</key>
		<string>e3_140</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB9</string>
		<key>u_code</key>
		<string>\uD83C\uDFB9</string>
		<key>code</key>
		<string>e3_141</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBB</string>
		<key>u_code</key>
		<string>\uD83C\uDFBB</string>
		<key>code</key>
		<string>e3_142</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBA</string>
		<key>u_code</key>
		<string>\uD83C\uDFBA</string>
		<key>code</key>
		<string>e3_143</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB7</string>
		<key>u_code</key>
		<string>\uD83C\uDFB7</string>
		<key>code</key>
		<string>e3_144</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB8</string>
		<key>u_code</key>
		<string>\uD83C\uDFB8</string>
		<key>code</key>
		<string>e3_145</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC7E</string>
		<key>u_code</key>
		<string>\uD83D\uDC7E</string>
		<key>code</key>
		<string>e3_146</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAE</string>
		<key>u_code</key>
		<string>\uD83C\uDFAE</string>
		<key>code</key>
		<string>e3_147</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDCCF</string>
		<key>u_code</key>
		<string>\uD83C\uDCCF</string>
		<key>code</key>
		<string>e3_148</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB4</string>
		<key>u_code</key>
		<string>\uD83C\uDFB4</string>
		<key>code</key>
		<string>e3_149</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDC04</string>
		<key>u_code</key>
		<string>\uD83C\uDC04</string>
		<key>code</key>
		<string>e3_150</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB2</string>
		<key>u_code</key>
		<string>\uD83C\uDFB2</string>
		<key>code</key>
		<string>e3_151</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAF</string>
		<key>u_code</key>
		<string>\uD83C\uDFAF</string>
		<key>code</key>
		<string>e3_152</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC8</string>
		<key>u_code</key>
		<string>\uD83C\uDFC8</string>
		<key>code</key>
		<string>e3_153</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC0</string>
		<key>u_code</key>
		<string>\uD83C\uDFC0</string>
		<key>code</key>
		<string>e3_154</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26BD/uFE0F</string>
		<key>u_code</key>
		<string>\u26BD\uFE0F</string>
		<key>code</key>
		<string>e3_154</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26BE/uFE0F</string>
		<key>u_code</key>
		<string>\u26BE\uFE0F</string>
		<key>code</key>
		<string>e3_156</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBE</string>
		<key>u_code</key>
		<string>\uD83C\uDFBE</string>
		<key>code</key>
		<string>e3_157</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB1</string>
		<key>u_code</key>
		<string>\uD83C\uDFB1</string>
		<key>code</key>
		<string>e3_158</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC9</string>
		<key>u_code</key>
		<string>\uD83C\uDFC9</string>
		<key>code</key>
		<string>e3_159</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB3</string>
		<key>u_code</key>
		<string>\uD83C\uDFB3</string>
		<key>code</key>
		<string>e3_160</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26F3/uFE0F</string>
		<key>u_code</key>
		<string>\u26F3\uFE0F</string>
		<key>code</key>
		<string>e3_161</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB4</string>
		<key>u_code</key>
		<string>\uD83D\uDEB4</string>
		<key>code</key>
		<string>e3_162</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB5</string>
		<key>u_code</key>
		<string>\uD83D\uDEB5</string>
		<key>code</key>
		<string>e3_163</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC1</string>
		<key>u_code</key>
		<string>\uD83C\uDFC1</string>
		<key>code</key>
		<string>e3_164</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC7</string>
		<key>u_code</key>
		<string>\uD83C\uDFC7</string>
		<key>code</key>
		<string>e3_165</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC6</string>
		<key>u_code</key>
		<string>\uD83C\uDFC6</string>
		<key>code</key>
		<string>e3_166</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBF</string>
		<key>u_code</key>
		<string>\uD83C\uDFBF</string>
		<key>code</key>
		<string>e3_167</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC2</string>
		<key>u_code</key>
		<string>\uD83C\uDFC2</string>
		<key>code</key>
		<string>e3_168</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFCA</string>
		<key>u_code</key>
		<string>\uD83C\uDFCA</string>
		<key>code</key>
		<string>e3_169</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC4</string>
		<key>u_code</key>
		<string>\uD83C\uDFC4</string>
		<key>code</key>
		<string>e3_170</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA3</string>
		<key>u_code</key>
		<string>\uD83C\uDFA3</string>
		<key>code</key>
		<string>e3_171</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2615/uFE0F</string>
		<key>u_code</key>
		<string>\u2615\uFE0F</string>
		<key>code</key>
		<string>e3_172</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF75</string>
		<key>u_code</key>
		<string>\uD83C\uDF75</string>
		<key>code</key>
		<string>e3_173</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF76</string>
		<key>u_code</key>
		<string>\uD83C\uDF76</string>
		<key>code</key>
		<string>e3_174</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF7C</string>
		<key>u_code</key>
		<string>\uD83C\uDF7C</string>
		<key>code</key>
		<string>e3_175</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF7A</string>
		<key>u_code</key>
		<string>\uD83C\uDF7A</string>
		<key>code</key>
		<string>e3_176</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF7B</string>
		<key>u_code</key>
		<string>\uD83C\uDF7B</string>
		<key>code</key>
		<string>e3_177</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF78</string>
		<key>u_code</key>
		<string>\uD83C\uDF78</string>
		<key>code</key>
		<string>e3_178</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF79</string>
		<key>u_code</key>
		<string>\uD83C\uDF79</string>
		<key>code</key>
		<string>e3_179</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF77</string>
		<key>u_code</key>
		<string>\uD83C\uDF77</string>
		<key>code</key>
		<string>e3_180</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF74</string>
		<key>u_code</key>
		<string>\uD83C\uDF74</string>
		<key>code</key>
		<string>e3_181</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF55</string>
		<key>u_code</key>
		<string>\uD83C\uDF55</string>
		<key>code</key>
		<string>e3_182</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF54</string>
		<key>u_code</key>
		<string>\uD83C\uDF54</string>
		<key>code</key>
		<string>e3_183</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5F</string>
		<key>u_code</key>
		<string>\uD83C\uDF5F</string>
		<key>code</key>
		<string>e3_184</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF57</string>
		<key>u_code</key>
		<string>\uD83C\uDF57</string>
		<key>code</key>
		<string>e3_185</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF56</string>
		<key>u_code</key>
		<string>\uD83C\uDF56</string>
		<key>code</key>
		<string>e3_186</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5D</string>
		<key>u_code</key>
		<string>\uD83C\uDF5D</string>
		<key>code</key>
		<string>e3_187</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5B</string>
		<key>u_code</key>
		<string>\uD83C\uDF5B</string>
		<key>code</key>
		<string>e3_188</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF64</string>
		<key>u_code</key>
		<string>\uD83C\uDF64</string>
		<key>code</key>
		<string>e3_189</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uD83C/uDF71</string>
		<key>u_code</key>
		<string>\uD83C\uDF71</string>
		<key>code</key>
		<string>e3_190</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF63</string>
		<key>u_code</key>
		<string>\uD83C\uDF63</string>
		<key>code</key>
		<string>e3_191</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF65</string>
		<key>u_code</key>
		<string>\uD83C\uDF65</string>
		<key>code</key>
		<string>e3_192</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF59</string>
		<key>u_code</key>
		<string>\uD83C\uDF59</string>
		<key>code</key>
		<string>e3_193</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF58</string>
		<key>u_code</key>
		<string>\uD83C\uDF58</string>
		<key>code</key>
		<string>e3_194</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5A</string>
		<key>u_code</key>
		<string>\uD83C\uDF5A</string>
		<key>code</key>
		<string>e3_195</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5C</string>
		<key>u_code</key>
		<string>\uD83C\uDF5C</string>
		<key>code</key>
		<string>e3_196</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF72</string>
		<key>u_code</key>
		<string>\uD83C\uDF72</string>
		<key>code</key>
		<string>e3_197</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF62</string>
		<key>u_code</key>
		<string>\uD83C\uDF62</string>
		<key>code</key>
		<string>e3_198</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF61</string>
		<key>u_code</key>
		<string>\uD83C\uDF61</string>
		<key>code</key>
		<string>e3_199</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF73</string>
		<key>u_code</key>
		<string>\uD83C\uDF73</string>
		<key>code</key>
		<string>e3_200</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF5E</string>
		<key>u_code</key>
		<string>\uD83C\uDF5E</string>
		<key>code</key>
		<string>e3_201</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF69</string>
		<key>u_code</key>
		<string>\uD83C\uDF69</string>
		<key>code</key>
		<string>e3_202</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6E</string>
		<key>u_code</key>
		<string>\uD83C\uDF6E</string>
		<key>code</key>
		<string>e3_203</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF66</string>
		<key>u_code</key>
		<string>\uD83C\uDF66</string>
		<key>code</key>
		<string>e3_204</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF68</string>
		<key>u_code</key>
		<string>\uD83C\uDF68</string>
		<key>code</key>
		<string>e3_205</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF67</string>
		<key>u_code</key>
		<string>\uD83C\uDF67</string>
		<key>code</key>
		<string>e3_206</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF82</string>
		<key>u_code</key>
		<string>\uD83C\uDF82</string>
		<key>code</key>
		<string>e3_207</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF70</string>
		<key>u_code</key>
		<string>\uD83C\uDF70</string>
		<key>code</key>
		<string>e3_208</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6A</string>
		<key>u_code</key>
		<string>\uD83C\uDF6A</string>
		<key>code</key>
		<string>e3_209</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6B</string>
		<key>u_code</key>
		<string>\uD83C\uDF6B</string>
		<key>code</key>
		<string>e3_210</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6C</string>
		<key>u_code</key>
		<string>\uD83C\uDF6C</string>
		<key>code</key>
		<string>e3_211</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6D</string>
		<key>u_code</key>
		<string>\uD83C\uDF6D</string>
		<key>code</key>
		<string>e3_212</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF6F</string>
		<key>u_code</key>
		<string>\uD83C\uDF6F</string>
		<key>code</key>
		<string>e3_213</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4E</string>
		<key>u_code</key>
		<string>\uD83C\uDF4E</string>
		<key>code</key>
		<string>e3_214</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4F</string>
		<key>u_code</key>
		<string>\uD83C\uDF4F</string>
		<key>code</key>
		<string>e3_215</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4A</string>
		<key>u_code</key>
		<string>\uD83C\uDF4A</string>
		<key>code</key>
		<string>e3_216</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4B</string>
		<key>u_code</key>
		<string>\uD83C\uDF4B</string>
		<key>code</key>
		<string>e3_217</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4C</string>
		<key>u_code</key>
		<string>\uD83C\uDF4C</string>
		<key>code</key>
		<string>e3_218</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF50</string>
		<key>u_code</key>
		<string>\uD83C\uDF50</string>
		<key>code</key>
		<string>e3_219</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF4D</string>
		<key>u_code</key>
		<string>\uD83C\uDF4D</string>
		<key>code</key>
		<string>e3_220</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF60</string>
		<key>u_code</key>
		<string>\uD83C\uDF60</string>
		<key>code</key>
		<string>e3_221</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF46</string>
		<key>u_code</key>
		<string>\uD83C\uDF46</string>
		<key>code</key>
		<string>e3_222</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF51</string>
		<key>u_code</key>
		<string>\uD83C\uDF51</string>
		<key>code</key>
		<string>e3_223</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF48</string>
		<key>u_code</key>
		<string>\uD83C\uDF48</string>
		<key>code</key>
		<string>e3_224</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF53</string>
		<key>u_code</key>
		<string>\uD83C\uDF53</string>
		<key>code</key>
		<string>e3_225</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF49</string>
		<key>u_code</key>
		<string>\uD83C\uDF49</string>
		<key>code</key>
		<string>e3_226</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF45</string>
		<key>u_code</key>
		<string>\uD83C\uDF45</string>
		<key>code</key>
		<string>e3_227</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF3D</string>
		<key>u_code</key>
		<string>\uD83C\uDF3D</string>
		<key>code</key>
		<string>e3_228</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF47</string>
		<key>u_code</key>
		<string>\uD83C\uDF47</string>
		<key>code</key>
		<string>e3_229</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF52</string>
		<key>u_code</key>
		<string>\uD83C\uDF52</string>
		<key>code</key>
		<string>e3_230</string>
	</dict>
</array>
</plist>
