<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE18</string>
		<key>u_code</key>
		<string>\uD83D\uDE18</string>
		<key>code</key>
		<string>e1_001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1A</string>
		<key>u_code</key>
		<string>\uD83D\uDE1A</string>
		<key>code</key>
		<string>e1_002</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE17</string>
		<key>u_code</key>
		<string>\uD83D\uDE17</string>
		<key>code</key>
		<string>e1_003</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE19</string>
		<key>u_code</key>
		<string>\uD83D\uDE19</string>
		<key>code</key>
		<string>e1_004</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1C</string>
		<key>u_code</key>
		<string>\uD83D\uDE1C</string>
		<key>code</key>
		<string>e1_005</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1D</string>
		<key>u_code</key>
		<string>\uD83D\uDE1D</string>
		<key>code</key>
		<string>e1_006</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1B</string>
		<key>u_code</key>
		<string>\uD83D\uDE1B</string>
		<key>code</key>
		<string>e1_007</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE04</string>
		<key>u_code</key>
		<string>\uD83D\uDE04</string>
		<key>code</key>
		<string>e1_008</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE03</string>
		<key>u_code</key>
		<string>\uD83D\uDE03</string>
		<key>code</key>
		<string>e1_009</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE00</string>
		<key>u_code</key>
		<string>\uD83D\uDE00</string>
		<key>code</key>
		<string>e1_010</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0A</string>
		<key>u_code</key>
		<string>\uD83D\uDE0A</string>
		<key>code</key>
		<string>e1_011</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u263A/uFE0F</string>
		<key>u_code</key>
		<string>\u263A\uFE0F</string>
		<key>code</key>
		<string>e1_012</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE09</string>
		<key>u_code</key>
		<string>\uD83D\uDE09</string>
		<key>code</key>
		<string>e1_013</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0D</string>
		<key>u_code</key>
		<string>\uD83D\uDE0D</string>
		<key>code</key>
		<string>e1_014</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE33</string>
		<key>u_code</key>
		<string>\uD83D\uDE33</string>
		<key>code</key>
		<string>e1_015</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE01</string>
		<key>u_code</key>
		<string>\uD83D\uDE01</string>
		<key>code</key>
		<string>e1_016</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE14</string>
		<key>u_code</key>
		<string>\uD83D\uDE14</string>
		<key>code</key>
		<string>e1_017</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0C</string>
		<key>u_code</key>
		<string>\uD83D\uDE0C</string>
		<key>code</key>
		<string>e1_018</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE12</string>
		<key>u_code</key>
		<string>\uD83D\uDE12</string>
		<key>code</key>
		<string>e1_019</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1E</string>
		<key>u_code</key>
		<string>\uD83D\uDE1E</string>
		<key>code</key>
		<string>e1_020</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE23</string>
		<key>u_code</key>
		<string>\uD83D\uDE23</string>
		<key>code</key>
		<string>e1_021</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE22</string>
		<key>u_code</key>
		<string>\uD83D\uDE22</string>
		<key>code</key>
		<string>e1_022</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE02</string>
		<key>u_code</key>
		<string>\uD83D\uDE02</string>
		<key>code</key>
		<string>e1_023</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2D</string>
		<key>u_code</key>
		<string>\uD83D\uDE2D</string>
		<key>code</key>
		<string>e1_024</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2A</string>
		<key>u_code</key>
		<string>\uD83D\uDE2A</string>
		<key>code</key>
		<string>e1_025</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE25</string>
		<key>u_code</key>
		<string>\uD83D\uDE25</string>
		<key>code</key>
		<string>e1_026</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE30</string>
		<key>u_code</key>
		<string>\uD83D\uDE30</string>
		<key>code</key>
		<string>e1_027</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE05</string>
		<key>u_code</key>
		<string>\uD83D\uDE05</string>
		<key>code</key>
		<string>e1_028</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE13</string>
		<key>u_code</key>
		<string>\uD83D\uDE13</string>
		<key>code</key>
		<string>e1_029</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE29</string>
		<key>u_code</key>
		<string>\uD83D\uDE29</string>
		<key>code</key>
		<string>e1_030</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2B</string>
		<key>u_code</key>
		<string>\uD83D\uDE2B</string>
		<key>code</key>
		<string>e1_031</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE28</string>
		<key>u_code</key>
		<string>\uD83D\uDE28</string>
		<key>code</key>
		<string>e1_032</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE31</string>
		<key>u_code</key>
		<string>\uD83D\uDE31</string>
		<key>code</key>
		<string>e1_033</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE20</string>
		<key>u_code</key>
		<string>\uD83D\uDE20</string>
		<key>code</key>
		<string>e1_034</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE21</string>
		<key>u_code</key>
		<string>\uD83D\uDE21</string>
		<key>code</key>
		<string>e1_035</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE24</string>
		<key>u_code</key>
		<string>\uD83D\uDE24</string>
		<key>code</key>
		<string>e1_036</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE16</string>
		<key>u_code</key>
		<string>\uD83D\uDE16</string>
		<key>code</key>
		<string>e1_037</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE06</string>
		<key>u_code</key>
		<string>\uD83D\uDE06</string>
		<key>code</key>
		<string>e1_038</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0B</string>
		<key>u_code</key>
		<string>\uD83D\uDE0B</string>
		<key>code</key>
		<string>e1_039</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE37</string>
		<key>u_code</key>
		<string>\uD83D\uDE37</string>
		<key>code</key>
		<string>e1_040</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0E</string>
		<key>u_code</key>
		<string>\uD83D\uDE0E</string>
		<key>code</key>
		<string>e1_041</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE34</string>
		<key>u_code</key>
		<string>\uD83D\uDE34</string>
		<key>code</key>
		<string>e1_042</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE35</string>
		<key>u_code</key>
		<string>\uD83D\uDE35</string>
		<key>code</key>
		<string>e1_043</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE32</string>
		<key>u_code</key>
		<string>\uD83D\uDE32</string>
		<key>code</key>
		<string>e1_044</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE1F</string>
		<key>u_code</key>
		<string>\uD83D\uDE1F</string>
		<key>code</key>
		<string>e1_045</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE26</string>
		<key>u_code</key>
		<string>\uD83D\uDE26</string>
		<key>code</key>
		<string>e1_046</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE27</string>
		<key>u_code</key>
		<string>\uD83D\uDE27</string>
		<key>code</key>
		<string>e1_047</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE08</string>
		<key>u_code</key>
		<string>\uD83D\uDE08</string>
		<key>code</key>
		<string>e1_048</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC7F</string>
		<key>u_code</key>
		<string>\uD83D\uDC7F</string>
		<key>code</key>
		<string>e1_049</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2E</string>
		<key>u_code</key>
		<string>\uD83D\uDE2E</string>
		<key>code</key>
		<string>e1_050</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2C</string>
		<key>u_code</key>
		<string>\uD83D\uDE2C</string>
		<key>code</key>
		<string>e1_051</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE10</string>
		<key>u_code</key>
		<string>\uD83D\uDE10</string>
		<key>code</key>
		<string>e1_052</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE15</string>
		<key>u_code</key>
		<string>\uD83D\uDE15</string>
		<key>code</key>
		<string>e1_053</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE2F</string>
		<key>u_code</key>
		<string>\uD83D\uDE2F</string>
		<key>code</key>
		<string>e1_054</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE36</string>
		<key>u_code</key>
		<string>\uD83D\uDE36</string>
		<key>code</key>
		<string>e1_055</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE07</string>
		<key>u_code</key>
		<string>\uD83D\uDE07</string>
		<key>code</key>
		<string>e1_056</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE0F</string>
		<key>u_code</key>
		<string>\uD83D\uDE0F</string>
		<key>code</key>
		<string>e1_057</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE11</string>
		<key>u_code</key>
		<string>\uD83D\uDE11</string>
		<key>code</key>
		<string>e1_058</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC72</string>
		<key>u_code</key>
		<string>\uD83D\uDC72</string>
		<key>code</key>
		<string>e1_059</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC73</string>
		<key>u_code</key>
		<string>\uD83D\uDC73</string>
		<key>code</key>
		<string>e1_060</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6E</string>
		<key>u_code</key>
		<string>\uD83D\uDC6E</string>
		<key>code</key>
		<string>e1_061</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC77</string>
		<key>u_code</key>
		<string>\uD83D\uDC77</string>
		<key>code</key>
		<string>e1_062</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC82</string>
		<key>u_code</key>
		<string>\uD83D\uDC82</string>
		<key>code</key>
		<string>e1_063</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC76</string>
		<key>u_code</key>
		<string>\uD83D\uDC76</string>
		<key>code</key>
		<string>e1_064</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC66</string>
		<key>u_code</key>
		<string>\uD83D\uDC66</string>
		<key>code</key>
		<string>e1_065</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC67</string>
		<key>u_code</key>
		<string>\uD83D\uDC67</string>
		<key>code</key>
		<string>e1_066</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC68</string>
		<key>u_code</key>
		<string>\uD83D\uDC68</string>
		<key>code</key>
		<string>e1_067</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC69</string>
		<key>u_code</key>
		<string>\uD83D\uDC69</string>
		<key>code</key>
		<string>e1_068</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC74</string>
		<key>u_code</key>
		<string>\uD83D\uDC74</string>
		<key>code</key>
		<string>e1_069</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC75</string>
		<key>u_code</key>
		<string>\uD83D\uDC75</string>
		<key>code</key>
		<string>e1_070</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC71</string>
		<key>u_code</key>
		<string>\uD83D\uDC71</string>
		<key>code</key>
		<string>e1_071</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC7C</string>
		<key>u_code</key>
		<string>\uD83D\uDC7C</string>
		<key>code</key>
		<string>e1_072</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC78</string>
		<key>u_code</key>
		<string>\uD83D\uDC78</string>
		<key>code</key>
		<string>e1_073</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3A</string>
		<key>u_code</key>
		<string>\uD83D\uDE3A</string>
		<key>code</key>
		<string>e1_074</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE38</string>
		<key>u_code</key>
		<string>\uD83D\uDE38</string>
		<key>code</key>
		<string>e1_075</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3B</string>
		<key>u_code</key>
		<string>\uD83D\uDE3B</string>
		<key>code</key>
		<string>e1_076</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3D</string>
		<key>u_code</key>
		<string>\uD83D\uDE3D</string>
		<key>code</key>
		<string>e1_077</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3C</string>
		<key>u_code</key>
		<string>\uD83D\uDE3C</string>
		<key>code</key>
		<string>e1_078</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE40</string>
		<key>u_code</key>
		<string>\uD83D\uDE40</string>
		<key>code</key>
		<string>e1_079</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3F</string>
		<key>u_code</key>
		<string>\uD83D\uDE3F</string>
		<key>code</key>
		<string>e1_080</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE39</string>
		<key>u_code</key>
		<string>\uD83D\uDE39</string>
		<key>code</key>
		<string>e1_081</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE3E</string>
		<key>u_code</key>
		<string>\uD83D\uDE3E</string>
		<key>code</key>
		<string>e1_082</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC79</string>
		<key>u_code</key>
		<string>\uD83D\uDC79</string>
		<key>code</key>
		<string>e1_083</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC79</string>
		<key>u_code</key>
		<string>\uD83D\uDC7A</string>
		<key>code</key>
		<string>e1_084</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE48</string>
		<key>u_code</key>
		<string>\uD83D\uDE48</string>
		<key>code</key>
		<string>e1_085</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE49</string>
		<key>u_code</key>
		<string>\uD83D\uDE49</string>
		<key>code</key>
		<string>e1_086</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4A</string>
		<key>u_code</key>
		<string>\uD83D\uDE4A</string>
		<key>code</key>
		<string>e1_087</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC80</string>
		<key>u_code</key>
		<string>\uD83D\uDC80</string>
		<key>code</key>
		<string>e1_088</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC7D</string>
		<key>u_code</key>
		<string>\uD83D\uDC7D</string>
		<key>code</key>
		<string>e1_089</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA9</string>
		<key>u_code</key>
		<string>\uD83D\uDCA9</string>
		<key>code</key>
		<string>e1_090</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD25</string>
		<key>u_code</key>
		<string>\uD83D\uDD25</string>
		<key>code</key>
		<string>e1_091</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2728</string>
		<key>u_code</key>
		<string>\u2728</string>
		<key>code</key>
		<string>e1_092</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF1F</string>
		<key>u_code</key>
		<string>\uD83C\uDF1F</string>
		<key>code</key>
		<string>e1_093</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAB</string>
		<key>u_code</key>
		<string>\uD83D\uDCAB</string>
		<key>code</key>
		<string>e1_094</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA5</string>
		<key>u_code</key>
		<string>\uD83D\uDCA5</string>
		<key>code</key>
		<string>e1_095</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA2</string>
		<key>u_code</key>
		<string>\uD83D\uDCA2</string>
		<key>code</key>
		<string>e1_096</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA6</string>
		<key>u_code</key>
		<string>\uD83D\uDCA6</string>
		<key>code</key>
		<string>e1_097</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA7</string>
		<key>u_code</key>
		<string>\uD83D\uDCA7</string>
		<key>code</key>
		<string>e1_098</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA4</string>
		<key>u_code</key>
		<string>\uD83D\uDCA4</string>
		<key>code</key>
		<string>e1_099</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA8</string>
		<key>u_code</key>
		<string>\uD83D\uDCA8</string>
		<key>code</key>
		<string>e1_100</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC42</string>
		<key>u_code</key>
		<string>\uD83D\uDC42</string>
		<key>code</key>
		<string>e1_101</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC40</string>
		<key>u_code</key>
		<string>\uD83D\uDC40</string>
		<key>code</key>
		<string>e1_102</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC43</string>
		<key>u_code</key>
		<string>\uD83D\uDC43</string>
		<key>code</key>
		<string>e1_103</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC45</string>
		<key>u_code</key>
		<string>\uD83D\uDC45</string>
		<key>code</key>
		<string>e1_104</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC44</string>
		<key>u_code</key>
		<string>\uD83D\uDC44</string>
		<key>code</key>
		<string>e1_105</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4D</string>
		<key>u_code</key>
		<string>\uD83D\uDC4D</string>
		<key>code</key>
		<string>e1_106</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4E</string>
		<key>u_code</key>
		<string>\uD83D\uDC4E</string>
		<key>code</key>
		<string>e1_107</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4C</string>
		<key>u_code</key>
		<string>\uD83D\uDC4C</string>
		<key>code</key>
		<string>e1_108</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4A</string>
		<key>u_code</key>
		<string>\uD83D\uDC4A</string>
		<key>code</key>
		<string>e1_109</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u270A</string>
		<key>u_code</key>
		<string>\u270A</string>
		<key>code</key>
		<string>e1_110</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u270C/uFE0F</string>
		<key>u_code</key>
		<string>\u270C\uFE0F</string>
		<key>code</key>
		<string>e1_111</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4B</string>
		<key>u_code</key>
		<string>\uD83D\uDC4B</string>
		<key>code</key>
		<string>e1_112</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u270B</string>
		<key>u_code</key>
		<string>\u270B</string>
		<key>code</key>
		<string>e1_113</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC50</string>
		<key>u_code</key>
		<string>\uD83D\uDC50</string>
		<key>code</key>
		<string>e1_114</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC46</string>
		<key>u_code</key>
		<string>\uD83D\uDC46</string>
		<key>code</key>
		<string>e1_115</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC47</string>
		<key>u_code</key>
		<string>\uD83D\uDC47</string>
		<key>code</key>
		<string>e1_116</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC49</string>
		<key>u_code</key>
		<string>\uD83D\uDC49</string>
		<key>code</key>
		<string>e1_117</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC48</string>
		<key>u_code</key>
		<string>\uD83D\uDC48</string>
		<key>code</key>
		<string>e1_118</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4C</string>
		<key>u_code</key>
		<string>\uD83D\uDE4C</string>
		<key>code</key>
		<string>e1_119</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4F</string>
		<key>u_code</key>
		<string>\uD83D\uDE4F</string>
		<key>code</key>
		<string>e1_120</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u261D/uFE0F</string>
		<key>u_code</key>
		<string>\u261D\uFE0F</string>
		<key>code</key>
		<string>e1_121</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC4F</string>
		<key>u_code</key>
		<string>\uD83D\uDC4F</string>
		<key>code</key>
		<string>e1_122</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAA</string>
		<key>u_code</key>
		<string>\uD83D\uDCAA</string>
		<key>code</key>
		<string>e1_123</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB6</string>
		<key>u_code</key>
		<string>\uD83D\uDEB6</string>
		<key>code</key>
		<string>e1_124</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFC3</string>
		<key>u_code</key>
		<string>\uD83C\uDFC3</string>
		<key>code</key>
		<string>e1_125</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC83</string>
		<key>u_code</key>
		<string>\uD83D\uDC83</string>
		<key>code</key>
		<string>e1_126</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6B</string>
		<key>u_code</key>
		<string>\uD83D\uDC6B</string>
		<key>code</key>
		<string>e1_127</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6A</string>
		<key>u_code</key>
		<string>\uD83D\uDC6A</string>
		<key>code</key>
		<string>e1_128</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6C</string>
		<key>u_code</key>
		<string>\uD83D\uDC6C</string>
		<key>code</key>
		<string>e1_129</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6D</string>
		<key>u_code</key>
		<string>\uD83D\uDC6D</string>
		<key>code</key>
		<string>e1_130</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8F</string>
		<key>u_code</key>
		<string>\uD83D\uDC8F</string>
		<key>code</key>
		<string>e1_131</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC91</string>
		<key>u_code</key>
		<string>\uD83D\uDC91</string>
		<key>code</key>
		<string>e1_132</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC6F</string>
		<key>u_code</key>
		<string>\uD83D\uDC6F</string>
		<key>code</key>
		<string>e1_133</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE46</string>
		<key>u_code</key>
		<string>\uD83D\uDE46</string>
		<key>code</key>
		<string>e1_134</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE45</string>
		<key>u_code</key>
		<string>\uD83D\uDE45</string>
		<key>code</key>
		<string>e1_135</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC81</string>
		<key>u_code</key>
		<string>\uD83D\uDC81</string>
		<key>code</key>
		<string>e1_136</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4B</string>
		<key>u_code</key>
		<string>\uD83D\uDE4B</string>
		<key>code</key>
		<string>e1_137</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC86</string>
		<key>u_code</key>
		<string>\uD83D\uDC86</string>
		<key>code</key>
		<string>e1_138</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC87</string>
		<key>u_code</key>
		<string>\uD83D\uDC87</string>
		<key>code</key>
		<string>e1_139</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC85</string>
		<key>u_code</key>
		<string>\uD83D\uDC85</string>
		<key>code</key>
		<string>e1_140</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC70</string>
		<key>u_code</key>
		<string>\uD83D\uDC70</string>
		<key>code</key>
		<string>e1_141</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4E</string>
		<key>u_code</key>
		<string>\uD83D\uDE4E</string>
		<key>code</key>
		<string>e1_142</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE4D</string>
		<key>u_code</key>
		<string>\uD83D\uDE4D</string>
		<key>code</key>
		<string>e1_143</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE47</string>
		<key>u_code</key>
		<string>\uD83D\uDE47</string>
		<key>code</key>
		<string>e1_144</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA9</string>
		<key>u_code</key>
		<string>\uD83C\uDFA9</string>
		<key>code</key>
		<string>e1_145</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC51</string>
		<key>u_code</key>
		<string>\uD83D\uDC51</string>
		<key>code</key>
		<string>e1_146</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC52</string>
		<key>u_code</key>
		<string>\uD83D\uDC52</string>
		<key>code</key>
		<string>e1_147</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5F</string>
		<key>u_code</key>
		<string>\uD83D\uDC5F</string>
		<key>code</key>
		<string>e1_148</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5E</string>
		<key>u_code</key>
		<string>\uD83D\uDC5E</string>
		<key>code</key>
		<string>e1_149</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC61</string>
		<key>u_code</key>
		<string>\uD83D\uDC61</string>
		<key>code</key>
		<string>e1_150</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC60</string>
		<key>u_code</key>
		<string>\uD83D\uDC60</string>
		<key>code</key>
		<string>e1_151</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC62</string>
		<key>u_code</key>
		<string>\uD83D\uDC62</string>
		<key>code</key>
		<string>e1_152</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC55</string>
		<key>u_code</key>
		<string>\uD83D\uDC55</string>
		<key>code</key>
		<string>e1_153</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC54</string>
		<key>u_code</key>
		<string>\uD83D\uDC54</string>
		<key>code</key>
		<string>e1_154</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5A</string>
		<key>u_code</key>
		<string>\uD83D\uDC5A</string>
		<key>code</key>
		<string>e1_155</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC57</string>
		<key>u_code</key>
		<string>\uD83D\uDC57</string>
		<key>code</key>
		<string>e1_156</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFBD</string>
		<key>u_code</key>
		<string>\uD83C\uDFBD</string>
		<key>code</key>
		<string>e1_157</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC56</string>
		<key>u_code</key>
		<string>\uD83D\uDC56</string>
		<key>code</key>
		<string>e1_158</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC58</string>
		<key>u_code</key>
		<string>\uD83D\uDC58</string>
		<key>code</key>
		<string>e1_159</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC59</string>
		<key>u_code</key>
		<string>\uD83D\uDC59</string>
		<key>code</key>
		<string>e1_160</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBC</string>
		<key>u_code</key>
		<string>\uD83D\uDCBC</string>
		<key>code</key>
		<string>e1_161</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5C</string>
		<key>u_code</key>
		<string>\uD83D\uDC5C</string>
		<key>code</key>
		<string>e1_162</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5D</string>
		<key>u_code</key>
		<string>\uD83D\uDC5D</string>
		<key>code</key>
		<string>e1_163</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC5B</string>
		<key>u_code</key>
		<string>\uD83D\uDC5B</string>
		<key>code</key>
		<string>e1_164</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC53</string>
		<key>u_code</key>
		<string>\uD83D\uDC53</string>
		<key>code</key>
		<string>e1_165</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF80</string>
		<key>u_code</key>
		<string>\uD83C\uDF80</string>
		<key>code</key>
		<string>e1_166</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC59</string>
		<key>u_code</key>
		<string>\uD83D\uDC59</string>
		<key>code</key>
		<string>e1_167</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC84</string>
		<key>u_code</key>
		<string>\uD83D\uDC84</string>
		<key>code</key>
		<string>e1_168</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC9B</string>
		<key>u_code</key>
		<string>\uD83D\uDC9B</string>
		<key>code</key>
		<string>e1_169</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC99</string>
		<key>u_code</key>
		<string>\uD83D\uDC99</string>
		<key>code</key>
		<string>e1_170</string>
	</dict>
	<dict>
		<key>image</key>
		<string>uD83D/uDC9C</string>
		<key>u_code</key>
		<string>\uD83D\uDC9C</string>
		<key>code</key>
		<string>e1_171</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC9A</string>
		<key>u_code</key>
		<string>\uD83D\uDC9A</string>
		<key>code</key>
		<string>e1_172</string>
	</dict>
	<dict>
		<key>image</key>
		<string>e1_173.png</string>
		<key>u_code</key>
		<string>\u2764</string>
		<key>code</key>
		<string>e1_173</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC94</string>
		<key>u_code</key>
		<string>\uD83D\uDC94</string>
		<key>code</key>
		<string>e1_174</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC97</string>
		<key>u_code</key>
		<string>\uD83D\uDC97</string>
		<key>code</key>
		<string>e1_175</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC93</string>
		<key>u_code</key>
		<string>\uD83D\uDC93</string>
		<key>code</key>
		<string>e1_176</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC95</string>
		<key>u_code</key>
		<string>\uD83D\uDC95</string>
		<key>code</key>
		<string>e1_177</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC96</string>
		<key>u_code</key>
		<string>\uD83D\uDC96</string>
		<key>code</key>
		<string>e1_178</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC9E</string>
		<key>u_code</key>
		<string>\uD83D\uDC9E</string>
		<key>code</key>
		<string>e1_179</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC98</string>
		<key>u_code</key>
		<string>\uD83D\uDC98</string>
		<key>code</key>
		<string>e1_180</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8C</string>
		<key>u_code</key>
		<string>\uD83D\uDC8C</string>
		<key>code</key>
		<string>e1_181</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8B</string>
		<key>u_code</key>
		<string>\uD83D\uDC8B</string>
		<key>code</key>
		<string>e1_182</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8D</string>
		<key>u_code</key>
		<string>\uD83D\uDC8D</string>
		<key>code</key>
		<string>e1_183</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC8E</string>
		<key>u_code</key>
		<string>\uD83D\uDC8E</string>
		<key>code</key>
		<string>e1_184</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC64</string>
		<key>u_code</key>
		<string>\uD83D\uDC64</string>
		<key>code</key>
		<string>e1_185</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC65</string>
		<key>u_code</key>
		<string>\uD83D\uDC65</string>
		<key>code</key>
		<string>e1_186</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAC</string>
		<key>u_code</key>
		<string>\uD83D\uDCAC</string>
		<key>code</key>
		<string>e1_187</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC63</string>
		<key>u_code</key>
		<string>\uD83D\uDC63</string>
		<key>code</key>
		<string>e1_188</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAD</string>
		<key>u_code</key>
		<string>\uD83D\uDCAD</string>
		<key>code</key>
		<string>e1_189</string>
	</dict>
</array>
</plist>
