<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE0</string>
		<key>u_code</key>
		<string>\uD83C\uDFE0</string>
		<key>code</key>
		<string>e4_001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE1</string>
		<key>u_code</key>
		<string>\uD83C\uDFE1</string>
		<key>code</key>
		<string>e4_002</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFEB</string>
		<key>u_code</key>
		<string>\uD83C\uDFEB</string>
		<key>code</key>
		<string>e4_003</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE2</string>
		<key>u_code</key>
		<string>\uD83C\uDFE2</string>
		<key>code</key>
		<string>e4_004</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE3</string>
		<key>u_code</key>
		<string>\uD83C\uDFE3</string>
		<key>code</key>
		<string>e4_005</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE5</string>
		<key>u_code</key>
		<string>\uD83C\uDFE5</string>
		<key>code</key>
		<string>e4_006</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE6</string>
		<key>u_code</key>
		<string>\uD83C\uDFE6</string>
		<key>code</key>
		<string>e4_007</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFEA</string>
		<key>u_code</key>
		<string>\uD83C\uDFEA</string>
		<key>code</key>
		<string>e4_008</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE9</string>
		<key>u_code</key>
		<string>\uD83C\uDFE9</string>
		<key>code</key>
		<string>e4_009</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE8</string>
		<key>u_code</key>
		<string>\uD83C\uDFE8</string>
		<key>code</key>
		<string>e4_010</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC92</string>
		<key>u_code</key>
		<string>\uD83D\uDC92</string>
		<key>code</key>
		<string>e4_011</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26EA/uFE0F</string>
		<key>u_code</key>
		<string>\u26EA\uFE0F</string>
		<key>code</key>
		<string>e4_012</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFEC</string>
		<key>u_code</key>
		<string>\uD83C\uDFEC</string>
		<key>code</key>
		<string>e4_013</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE4</string>
		<key>u_code</key>
		<string>\uD83C\uDFE4</string>
		<key>code</key>
		<string>e4_014</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF07</string>
		<key>u_code</key>
		<string>\uD83C\uDF07</string>
		<key>code</key>
		<string>e4_015</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF06</string>
		<key>u_code</key>
		<string>\uD83C\uDF06</string>
		<key>code</key>
		<string>e4_016</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFEF</string>
		<key>u_code</key>
		<string>\uD83C\uDFEF</string>
		<key>code</key>
		<string>e4_017</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFF0</string>
		<key>u_code</key>
		<string>\uD83C\uDFF0</string>
		<key>code</key>
		<string>e4_018</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26FA/uFE0F</string>
		<key>u_code</key>
		<string>\u26FA\uFE0F</string>
		<key>code</key>
		<string>e4_019</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFED</string>
		<key>u_code</key>
		<string>\uD83C\uDFED</string>
		<key>code</key>
		<string>e4_020</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDDFC</string>
		<key>u_code</key>
		<string>\uD83D\uDDFC</string>
		<key>code</key>
		<string>e4_021</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDDFE</string>
		<key>u_code</key>
		<string>\uD83D\uDDFE</string>
		<key>code</key>
		<string>e4_022</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDDFB</string>
		<key>u_code</key>
		<string>\uD83D\uDDFB</string>
		<key>code</key>
		<string>e4_023</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF04</string>
		<key>u_code</key>
		<string>\uD83C\uDF04</string>
		<key>code</key>
		<string>e4_024</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF05</string>
		<key>u_code</key>
		<string>\uD83C\uDF05</string>
		<key>code</key>
		<string>e4_025</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF03</string>
		<key>u_code</key>
		<string>\uD83C\uDF03</string>
		<key>code</key>
		<string>e4_026</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDDFD</string>
		<key>u_code</key>
		<string>\uD83D\uDDFD</string>
		<key>code</key>
		<string>e4_027</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDF09</string>
		<key>u_code</key>
		<string>\uD83C\uDF09</string>
		<key>code</key>
		<string>e4_028</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA0</string>
		<key>u_code</key>
		<string>\uD83C\uDFA0</string>
		<key>code</key>
		<string>e4_029</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA1</string>
		<key>u_code</key>
		<string>\uD83C\uDFA1</string>
		<key>code</key>
		<string>e4_030</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26F2/uFE0F</string>
		<key>u_code</key>
		<string>\u26F2\uFE0F</string>
		<key>code</key>
		<string>e4_031</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA2</string>
		<key>u_code</key>
		<string>\uD83C\uDFA2</string>
		<key>code</key>
		<string>e4_032</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA2</string>
		<key>u_code</key>
		<string>\uD83D\uDEA2</string>
		<key>code</key>
		<string>e4_033</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26F5/uFE0F</string>
		<key>u_code</key>
		<string>\u26F5\uFE0F</string>
		<key>code</key>
		<string>e4_034</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA4</string>
		<key>u_code</key>
		<string>\uD83D\uDEA4</string>
		<key>code</key>
		<string>e4_035</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA3</string>
		<key>u_code</key>
		<string>\uD83D\uDEA3</string>
		<key>code</key>
		<string>e4_036</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2693/uFE0F</string>
		<key>u_code</key>
		<string>\u2693\uFE0F</string>
		<key>code</key>
		<string>e4_037</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE80</string>
		<key>u_code</key>
		<string>\uD83D\uDE80</string>
		<key>code</key>
		<string>e4_038</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2708/uFE0F</string>
		<key>u_code</key>
		<string>\u2708\uFE0F</string>
		<key>code</key>
		<string>e4_039</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCBA</string>
		<key>u_code</key>
		<string>\uD83D\uDCBA</string>
		<key>code</key>
		<string>e4_040</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE81</string>
		<key>u_code</key>
		<string>\uD83D\uDE81</string>
		<key>code</key>
		<string>e4_041</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE82</string>
		<key>u_code</key>
		<string>\uD83D\uDE82</string>
		<key>code</key>
		<string>e4_042</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8A</string>
		<key>u_code</key>
		<string>\uD83D\uDE8A</string>
		<key>code</key>
		<string>e4_043</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE89</string>
		<key>u_code</key>
		<string>\uD83D\uDE89</string>
		<key>code</key>
		<string>e4_044</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9E</string>
		<key>u_code</key>
		<string>\uD83D\uDE9E</string>
		<key>code</key>
		<string>e4_045</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE86</string>
		<key>u_code</key>
		<string>\uD83D\uDE86</string>
		<key>code</key>
		<string>e4_046</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE84</string>
		<key>u_code</key>
		<string>\uD83D\uDE84</string>
		<key>code</key>
		<string>e4_047</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE85</string>
		<key>u_code</key>
		<string>\uD83D\uDE85</string>
		<key>code</key>
		<string>e4_048</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE88</string>
		<key>u_code</key>
		<string>\uD83D\uDE88</string>
		<key>code</key>
		<string>e4_049</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE87</string>
		<key>u_code</key>
		<string>\uD83D\uDE87</string>
		<key>code</key>
		<string>e4_050</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9D</string>
		<key>u_code</key>
		<string>\uD83D\uDE9D</string>
		<key>code</key>
		<string>e4_051</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8B</string>
		<key>u_code</key>
		<string>\uD83D\uDE8B</string>
		<key>code</key>
		<string>e4_052</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE83</string>
		<key>u_code</key>
		<string>\uD83D\uDE83</string>
		<key>code</key>
		<string>e4_053</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8E</string>
		<key>u_code</key>
		<string>\uD83D\uDE8E</string>
		<key>code</key>
		<string>e4_054</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8C</string>
		<key>u_code</key>
		<string>\uD83D\uDE8C</string>
		<key>code</key>
		<string>e4_055</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8D</string>
		<key>u_code</key>
		<string>\uD83D\uDE8D</string>
		<key>code</key>
		<string>e4_056</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE99</string>
		<key>u_code</key>
		<string>\uD83D\uDE99</string>
		<key>code</key>
		<string>e4_057</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE98</string>
		<key>u_code</key>
		<string>\uD83D\uDE98</string>
		<key>code</key>
		<string>e4_058</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE97</string>
		<key>u_code</key>
		<string>\uD83D\uDE97</string>
		<key>code</key>
		<string>e4_059</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE95</string>
		<key>u_code</key>
		<string>\uD83D\uDE95</string>
		<key>code</key>
		<string>e4_060</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE96</string>
		<key>u_code</key>
		<string>\uD83D\uDE96</string>
		<key>code</key>
		<string>e4_061</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9B</string>
		<key>u_code</key>
		<string>\uD83D\uDE9B</string>
		<key>code</key>
		<string>e4_062</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9A</string>
		<key>u_code</key>
		<string>\uD83D\uDE9A</string>
		<key>code</key>
		<string>e4_063</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA8</string>
		<key>u_code</key>
		<string>\uD83D\uDEA8</string>
		<key>code</key>
		<string>e4_064</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE93</string>
		<key>u_code</key>
		<string>\uD83D\uDE93</string>
		<key>code</key>
		<string>e4_065</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE94</string>
		<key>u_code</key>
		<string>\uD83D\uDE94</string>
		<key>code</key>
		<string>e4_066</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE92</string>
		<key>u_code</key>
		<string>\uD83D\uDE92</string>
		<key>code</key>
		<string>e4_067</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE91</string>
		<key>u_code</key>
		<string>\uD83D\uDE91</string>
		<key>code</key>
		<string>e4_068</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE90</string>
		<key>u_code</key>
		<string>\uD83D\uDE90</string>
		<key>code</key>
		<string>e4_069</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB2</string>
		<key>u_code</key>
		<string>\uD83D\uDEB2</string>
		<key>code</key>
		<string>e4_070</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA1</string>
		<key>u_code</key>
		<string>\uD83D\uDEA1</string>
		<key>code</key>
		<string>e4_071</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9F</string>
		<key>u_code</key>
		<string>\uD83D\uDE9F</string>
		<key>code</key>
		<string>e4_072</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA0</string>
		<key>u_code</key>
		<string>\uD83D\uDEA0</string>
		<key>code</key>
		<string>e4_073</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE9C</string>
		<key>u_code</key>
		<string>\uD83D\uDE9C</string>
		<key>code</key>
		<string>e4_074</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC88</string>
		<key>u_code</key>
		<string>\uD83D\uDC88</string>
		<key>code</key>
		<string>e4_075</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDE8F</string>
		<key>u_code</key>
		<string>\uD83D\uDE8F</string>
		<key>code</key>
		<string>e4_076</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAB</string>
		<key>u_code</key>
		<string>\uD83C\uDFAB</string>
		<key>code</key>
		<string>e4_077</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA6</string>
		<key>u_code</key>
		<string>\uD83D\uDEA6</string>
		<key>code</key>
		<string>e4_078</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA5</string>
		<key>u_code</key>
		<string>\uD83D\uDEA5</string>
		<key>code</key>
		<string>e4_079</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26A0/uFE0F</string>
		<key>u_code</key>
		<string>\u26A0\uFE0F</string>
		<key>code</key>
		<string>e4_080</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA7</string>
		<key>u_code</key>
		<string>\uD83D\uDEA7</string>
		<key>code</key>
		<string>e4_081</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD30</string>
		<key>u_code</key>
		<string>\uD83D\uDD30</string>
		<key>code</key>
		<string>e4_082</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26FD/uFE0F</string>
		<key>u_code</key>
		<string>\u26FD\uFE0F</string>
		<key>code</key>
		<string>e4_083</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFEE</string>
		<key>u_code</key>
		<string>\uD83C\uDFEE</string>
		<key>code</key>
		<string>e4_084</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFB0</string>
		<key>u_code</key>
		<string>\uD83C\uDFB0</string>
		<key>code</key>
		<string>e4_085</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2668/uFE0F</string>
		<key>u_code</key>
		<string>\u2668\uFE0F</string>
		<key>code</key>
		<string>e4_086</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDDFF</string>
		<key>u_code</key>
		<string>\uD83D\uDDFF</string>
		<key>code</key>
		<string>e4_087</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAA</string>
		<key>u_code</key>
		<string>\uD83C\uDFAA</string>
		<key>code</key>
		<string>e4_088</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFAD</string>
		<key>u_code</key>
		<string>\uD83C\uDFAD</string>
		<key>code</key>
		<string>e4_089</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCCD</string>
		<key>u_code</key>
		<string>\uD83D\uDCCD</string>
		<key>code</key>
		<string>e4_090</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEA9</string>
		<key>u_code</key>
		<string>\uD83D\uDEA9</string>
		<key>code</key>
		<string>e4_091</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEF/uD83C/uDDF5</string>
		<key>u_code</key>
		<string>\uD83C\uDDEF\uD83C\uDDF5</string>
		<key>code</key>
		<string>e4_092</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF0/uD83C/uDDF7</string>
		<key>u_code</key>
		<string>\uD83C\uDDF0\uD83C\uDDF7</string>
		<key>code</key>
		<string>e4_093</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE9/uD83C/uDDEA</string>
		<key>u_code</key>
		<string>\uD83C\uDDE9\uD83C\uDDEA</string>
		<key>code</key>
		<string>e4_094</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE8/uD83C/uDDF3</string>
		<key>u_code</key>
		<string>\uD83C\uDDE8\uD83C\uDDF3</string>
		<key>code</key>
		<string>e4_095</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDFA/uD83C/uDDF8</string>
		<key>u_code</key>
		<string>\uD83C\uDDFA\uD83C\uDDF8</string>
		<key>code</key>
		<string>e4_096</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEB/uD83C/uDDF7</string>
		<key>u_code</key>
		<string>\uD83C\uDDEB\uD83C\uDDF7</string>
		<key>code</key>
		<string>e4_097</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEA/uD83C/uDDF8</string>
		<key>u_code</key>
		<string>\uD83C\uDDEA\uD83C\uDDF8</string>
		<key>code</key>
		<string>e4_098</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEE/uD83C/uDDF9</string>
		<key>u_code</key>
		<string>\uD83C\uDDEE\uD83C\uDDF9</string>
		<key>code</key>
		<string>e4_099</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF7/uD83C/uDDFA</string>
		<key>u_code</key>
		<string>\uD83C\uDDF7\uD83C\uDDFA</string>
		<key>code</key>
		<string>e4_100</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEC/uD83C/uDDE7</string>
		<key>u_code</key>
		<string>\uD83C\uDDEC\uD83C\uDDE7</string>
		<key>code</key>
		<string>e4_101</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDFB/uD83C/uDDEA</string>
		<key>u_code</key>
		<string>\uD83C\uDDFB\uD83C\uDDEA</string>
		<key>code</key>
		<string>e4_102</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE8/uD83C/uDDF4</string>
		<key>u_code</key>
		<string>\uD83C\uDDE8\uD83C\uDDF4</string>
		<key>code</key>
		<string>e4_103</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE8/uD83C/uDDF1</string>
		<key>u_code</key>
		<string>\uD83C\uDDE8\uD83C\uDDF1</string>
		<key>code</key>
		<string>e4_104</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDED/uD83C/uDDF0</string>
		<key>u_code</key>
		<string>\uD83C\uDDED\uD83C\uDDF0</string>
		<key>code</key>
		<string>e4_105</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF3/uD83C/uDDEC</string>
		<key>u_code</key>
		<string>\uD83C\uDDF3\uD83C\uDDEC</string>
		<key>code</key>
		<string>e4_106</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE8/uD83C/uDDED</string>
		<key>u_code</key>
		<string>\uD83C\uDDE8\uD83C\uDDED</string>
		<key>code</key>
		<string>e4_107</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEE/uD83C/uDDF3</string>
		<key>u_code</key>
		<string>\uD83C\uDDEE\uD83C\uDDF3</string>
		<key>code</key>
		<string>e4_108</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF2/uD83C/uDDFD</string>
		<key>u_code</key>
		<string>\uD83C\uDDF2\uD83C\uDDFD</string>
		<key>code</key>
		<string>e4_109</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE7/uD83C/uDDF7</string>
		<key>u_code</key>
		<string>\uD83C\uDDE7\uD83C\uDDF7</string>
		<key>code</key>
		<string>e4_110</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF8/uD83C/uDDE6</string>
		<key>u_code</key>
		<string>\uD83C\uDDF8\uD83C\uDDE6</string>
		<key>code</key>
		<string>e4_111</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDFF/uD83C/uDDE6</string>
		<key>u_code</key>
		<string>\uD83C\uDDFF\uD83C\uDDE6</string>
		<key>code</key>
		<string>e4_112</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE6/uD83C/uDDF7</string>
		<key>u_code</key>
		<string>\uD83C\uDDE6\uD83C\uDDF7</string>
		<key>code</key>
		<string>e4_113</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF3/uD83C/uDDF1</string>
		<key>u_code</key>
		<string>\uD83C\uDDF3\uD83C\uDDF1</string>
		<key>code</key>
		<string>e4_114</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF9/uD83C/uDDF7</string>
		<key>u_code</key>
		<string>\uD83C\uDDF9\uD83C\uDDF7</string>
		<key>code</key>
		<string>e4_115</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF2/uD83C/uDDFE</string>
		<key>u_code</key>
		<string>\uD83C\uDDF2\uD83C\uDDFE</string>
		<key>code</key>
		<string>e4_116</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEE/uD83C/uDDF1</string>
		<key>u_code</key>
		<string>\uD83C\uDDEE\uD83C\uDDF1</string>
		<key>code</key>
		<string>e4_117</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF9/uD83C/uDDED</string>
		<key>u_code</key>
		<string>\uD83C\uDDF9\uD83C\uDDED</string>
		<key>code</key>
		<string>e4_118</string>
	</dict>
	<dict>
		<key>image</key>
		<string>\uD83C\uDDF8\uD83C\uDDEC</string>
		<key>u_code</key>
		<string>\uD83C\uDDF8\uD83C\uDDEC</string>
		<key>code</key>
		<string>e4_119</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE6/uD83C/uDDEA</string>
		<key>u_code</key>
		<string>\uD83C\uDDE6\uD83C\uDDEA</string>
		<key>code</key>
		<string>e4_120</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDF2/uD83C/uDDF2</string>
		<key>u_code</key>
		<string>\uD83C\uDDF2\uD83C\uDDF2</string>
		<key>code</key>
		<string>e4_121</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEA/uD83C/uDDEC</string>
		<key>u_code</key>
		<string>\uD83C\uDDEA\uD83C\uDDEC</string>
		<key>code</key>
		<string>e4_122</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDE8/uD83C/uDDE6</string>
		<key>u_code</key>
		<string>\uD83C\uDDE8\uD83C\uDDE6</string>
		<key>code</key>
		<string>e4_123</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDDEE/uD83C/uDDE9</string>
		<key>u_code</key>
		<string>\uD83C\uDDEE\uD83C\uDDE9</string>
		<key>code</key>
		<string>e4_124</string>
	</dict>
</array>
</plist>
