<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>/u0031/u20E3</string>
		<key>u_code</key>
		<string>\u0031\u20E3</string>
		<key>code</key>
		<string>e5_001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0032/u20E3</string>
		<key>u_code</key>
		<string>\u0032\u20E3</string>
		<key>code</key>
		<string>e5_002</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0033/u20E3</string>
		<key>u_code</key>
		<string>\u0033\u20E3</string>
		<key>code</key>
		<string>e5_003</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0034/u20E3</string>
		<key>u_code</key>
		<string>\u0034\u20E3</string>
		<key>code</key>
		<string>e5_004</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0035/u20E3</string>
		<key>u_code</key>
		<string>\u0035\u20E3</string>
		<key>code</key>
		<string>e5_005</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0036/u20E3</string>
		<key>u_code</key>
		<string>\u0036\u20E3</string>
		<key>code</key>
		<string>e5_006</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0037/u20E3</string>
		<key>u_code</key>
		<string>\u0037\u20E3</string>
		<key>code</key>
		<string>e5_007</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0038/u20E3</string>
		<key>u_code</key>
		<string>\u0038\u20E3</string>
		<key>code</key>
		<string>e5_008</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0039/u20E3</string>
		<key>u_code</key>
		<string>\u0039\u20E3</string>
		<key>code</key>
		<string>e5_009</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0030/u20E3</string>
		<key>u_code</key>
		<string>\u0030\u20E3</string>
		<key>code</key>
		<string>e5_010</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1F</string>
		<key>u_code</key>
		<string>\uD83D\uDD1F</string>
		<key>code</key>
		<string>e5_011</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD22</string>
		<key>u_code</key>
		<string>\uD83D\uDD22</string>
		<key>code</key>
		<string>e5_012</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u0023/u20E3</string>
		<key>u_code</key>
		<string>\u0023\u20E3</string>
		<key>code</key>
		<string>e5_013</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD23</string>
		<key>u_code</key>
		<string>\uD83D\uDD23</string>
		<key>code</key>
		<string>e5_014</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B06/uFE0F</string>
		<key>u_code</key>
		<string>\u2B06\uFE0F</string>
		<key>code</key>
		<string>e5_015</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B07/uFE0F</string>
		<key>u_code</key>
		<string>\u2B07\uFE0F</string>
		<key>code</key>
		<string>e5_015</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B05/uFE0F</string>
		<key>u_code</key>
		<string>\u2B05\uFE0F</string>
		<key>code</key>
		<string>e5_017</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u27A1/uFE0F</string>
		<key>u_code</key>
		<string>\u27A1\uFE0F</string>
		<key>code</key>
		<string>e5_018</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD20</string>
		<key>u_code</key>
		<string>\uD83D\uDD20</string>
		<key>code</key>
		<string>e5_019</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD21</string>
		<key>u_code</key>
		<string>\uD83D\uDD21</string>
		<key>code</key>
		<string>e5_020</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD24</string>
		<key>u_code</key>
		<string>\uD83D\uDD24</string>
		<key>code</key>
		<string>e5_021</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2197/uFE0F</string>
		<key>u_code</key>
		<string>\u2197\uFE0F</string>
		<key>code</key>
		<string>e5_022</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2196/uFE0F</string>
		<key>u_code</key>
		<string>\u2196\uFE0F</string>
		<key>code</key>
		<string>e5_023</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2198/uFE0F</string>
		<key>u_code</key>
		<string>\u2198\uFE0F</string>
		<key>code</key>
		<string>e5_024</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2199/uFE0F</string>
		<key>u_code</key>
		<string>\u2199\uFE0F</string>
		<key>code</key>
		<string>e5_025</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2194/uFE0F</string>
		<key>u_code</key>
		<string>\u2194\uFE0F</string>
		<key>code</key>
		<string>e5_026</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2195/uFE0F</string>
		<key>u_code</key>
		<string>\u2195\uFE0F</string>
		<key>code</key>
		<string>e5_027</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD04</string>
		<key>u_code</key>
		<string>\uD83D\uDD04</string>
		<key>code</key>
		<string>e5_028</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25C0/uFE0F</string>
		<key>u_code</key>
		<string>\u25C0\uFE0F</string>
		<key>code</key>
		<string>e5_029</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25B6/uFE0F</string>
		<key>u_code</key>
		<string>\u25B6\uFE0F</string>
		<key>code</key>
		<string>e5_030</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD3C</string>
		<key>u_code</key>
		<string>\uD83D\uDD3C</string>
		<key>code</key>
		<string>e5_031</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD3D</string>
		<key>u_code</key>
		<string>\uD83D\uDD3D</string>
		<key>code</key>
		<string>e5_032</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u21A9/uFE0F</string>
		<key>u_code</key>
		<string>\u21A9\uFE0F</string>
		<key>code</key>
		<string>e5_033</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u21AA/uFE0F</string>
		<key>u_code</key>
		<string>\u21AA\uFE0F</string>
		<key>code</key>
		<string>e5_034</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2139/uFE0F</string>
		<key>u_code</key>
		<string>\u2139\uFE0F</string>
		<key>code</key>
		<string>e5_035</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23EA</string>
		<key>u_code</key>
		<string>\u23EA</string>
		<key>code</key>
		<string>e5_036</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23E9</string>
		<key>u_code</key>
		<string>\u23E9</string>
		<key>code</key>
		<string>e5_037</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23EB</string>
		<key>u_code</key>
		<string>\u23EB</string>
		<key>code</key>
		<string>e5_038</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u23EC</string>
		<key>u_code</key>
		<string>\u23EC</string>
		<key>code</key>
		<string>e5_039</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2935/uFE0F</string>
		<key>u_code</key>
		<string>\u2935\uFE0F</string>
		<key>code</key>
		<string>e5_040</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2934/uFE0F</string>
		<key>u_code</key>
		<string>\u2934\uFE0F</string>
		<key>code</key>
		<string>e5_041</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD97</string>
		<key>u_code</key>
		<string>\uD83C\uDD97</string>
		<key>code</key>
		<string>e5_042</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD00</string>
		<key>u_code</key>
		<string>\uD83D\uDD00</string>
		<key>code</key>
		<string>e5_043</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD01</string>
		<key>u_code</key>
		<string>\uD83D\uDD01</string>
		<key>code</key>
		<string>e5_044</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD02</string>
		<key>u_code</key>
		<string>\uD83D\uDD02</string>
		<key>code</key>
		<string>e5_045</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD95</string>
		<key>u_code</key>
		<string>\uD83C\uDD95</string>
		<key>code</key>
		<string>e5_046</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD99</string>
		<key>u_code</key>
		<string>\uD83C\uDD99</string>
		<key>code</key>
		<string>e5_047</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD92</string>
		<key>u_code</key>
		<string>\uD83C\uDD92</string>
		<key>code</key>
		<string>e5_048</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD93</string>
		<key>u_code</key>
		<string>\uD83C\uDD93</string>
		<key>code</key>
		<string>e5_049</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD96</string>
		<key>u_code</key>
		<string>\uD83C\uDD96</string>
		<key>code</key>
		<string>e5_050</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF6</string>
		<key>u_code</key>
		<string>\uD83D\uDCF6</string>
		<key>code</key>
		<string>e5_051</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFA6</string>
		<key>u_code</key>
		<string>\uD83C\uDFA6</string>
		<key>code</key>
		<string>e5_052</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE01</string>
		<key>u_code</key>
		<string>\uD83C\uDE01</string>
		<key>code</key>
		<string>e5_053</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE2F/uFE0F</string>
		<key>u_code</key>
		<string>\uD83C\uDE2F\uFE0F</string>
		<key>code</key>
		<string>e5_054</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE33</string>
		<key>u_code</key>
		<string>\uD83C\uDE33</string>
		<key>code</key>
		<string>e5_055</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE35</string>
		<key>u_code</key>
		<string>\uD83C\uDE35</string>
		<key>code</key>
		<string>e5_056</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE34</string>
		<key>u_code</key>
		<string>\uD83C\uDE34</string>
		<key>code</key>
		<string>e5_057</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE32</string>
		<key>u_code</key>
		<string>\uD83C\uDE32</string>
		<key>code</key>
		<string>e5_058</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE50</string>
		<key>u_code</key>
		<string>\uD83C\uDE50</string>
		<key>code</key>
		<string>e5_059</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE39</string>
		<key>u_code</key>
		<string>\uD83C\uDE39</string>
		<key>code</key>
		<string>e5_060</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE3A</string>
		<key>u_code</key>
		<string>\uD83C\uDE3A</string>
		<key>code</key>
		<string>e5_061</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE36</string>
		<key>u_code</key>
		<string>\uD83C\uDE36</string>
		<key>code</key>
		<string>e5_062</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE1A</string>
		<key>u_code</key>
		<string>\uD83C\uDE1A</string>
		<key>code</key>
		<string>e5_063</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBB</string>
		<key>u_code</key>
		<string>\uD83D\uDEBB</string>
		<key>code</key>
		<string>e5_064</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB9</string>
		<key>u_code</key>
		<string>\uD83D\uDEB9</string>
		<key>code</key>
		<string>e5_065</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBA</string>
		<key>u_code</key>
		<string>\uD83D\uDEBA</string>
		<key>code</key>
		<string>e5_066</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBC</string>
		<key>u_code</key>
		<string>\uD83D\uDEBC</string>
		<key>code</key>
		<string>e5_067</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEBE</string>
		<key>u_code</key>
		<string>\uD83D\uDEBE</string>
		<key>code</key>
		<string>e5_068</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB0</string>
		<key>u_code</key>
		<string>\uD83D\uDEB0</string>
		<key>code</key>
		<string>e5_069</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAE</string>
		<key>u_code</key>
		<string>\uD83D\uDEAE</string>
		<key>code</key>
		<string>e5_070</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD7F</string>
		<key>u_code</key>
		<string>\uD83C\uDD7F</string>
		<key>code</key>
		<string>e5_071</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u267F/uFE0F</string>
		<key>u_code</key>
		<string>\u267F\uFE0F</string>
		<key>code</key>
		<string>e5_072</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAD</string>
		<key>u_code</key>
		<string>\uD83D\uDEAD</string>
		<key>code</key>
		<string>e5_073</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE37</string>
		<key>u_code</key>
		<string>\uD83C\uDE37</string>
		<key>code</key>
		<string>e5_074</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE38</string>
		<key>u_code</key>
		<string>\uD83C\uDE38</string>
		<key>code</key>
		<string>e5_075</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE02</string>
		<key>u_code</key>
		<string>\uD83C\uDE02</string>
		<key>code</key>
		<string>e5_076</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u24C2/uFE0F</string>
		<key>u_code</key>
		<string>\u24C2\uFE0F</string>
		<key>code</key>
		<string>e5_077</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC2</string>
		<key>u_code</key>
		<string>\uD83D\uDEC2</string>
		<key>code</key>
		<string>e5_078</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC4</string>
		<key>u_code</key>
		<string>\uD83D\uDEC4</string>
		<key>code</key>
		<string>e5_079</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC5</string>
		<key>u_code</key>
		<string>\uD83D\uDEC5</string>
		<key>code</key>
		<string>e5_080</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEC3</string>
		<key>u_code</key>
		<string>\uD83D\uDEC3</string>
		<key>code</key>
		<string>e5_081</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDE51</string>
		<key>u_code</key>
		<string>\uD83C\uDE51</string>
		<key>code</key>
		<string>e5_082</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u3299/uFE0F</string>
		<key>u_code</key>
		<string>\u3299\uFE0F</string>
		<key>code</key>
		<string>e5_083</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u3297/uFE0F</string>
		<key>u_code</key>
		<string>\u3297\uFE0F</string>
		<key>code</key>
		<string>e5_084</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD91</string>
		<key>u_code</key>
		<string>\uD83C\uDD91</string>
		<key>code</key>
		<string>e5_085</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD98</string>
		<key>u_code</key>
		<string>\uD83C\uDD98</string>
		<key>code</key>
		<string>e5_086</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD94</string>
		<key>u_code</key>
		<string>\uD83C\uDD94</string>
		<key>code</key>
		<string>e5_087</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAB</string>
		<key>u_code</key>
		<string>\uD83D\uDEAB</string>
		<key>code</key>
		<string>e5_088</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1E</string>
		<key>u_code</key>
		<string>\uD83D\uDD1E</string>
		<key>code</key>
		<string>e5_089</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF5</string>
		<key>u_code</key>
		<string>\uD83D\uDCF5</string>
		<key>code</key>
		<string>e5_090</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEAF</string>
		<key>u_code</key>
		<string>\uD83D\uDEAF</string>
		<key>code</key>
		<string>e5_091</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB1</string>
		<key>u_code</key>
		<string>\uD83D\uDEB1</string>
		<key>code</key>
		<string>e5_092</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB3</string>
		<key>u_code</key>
		<string>\uD83D\uDEB3</string>
		<key>code</key>
		<string>e5_093</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB7</string>
		<key>u_code</key>
		<string>\uD83D\uDEB7</string>
		<key>code</key>
		<string>e5_094</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDEB8</string>
		<key>u_code</key>
		<string>\uD83D\uDEB8</string>
		<key>code</key>
		<string>e5_095</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26D4/uFE0F</string>
		<key>u_code</key>
		<string>\u26D4\uFE0F</string>
		<key>code</key>
		<string>e5_096</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2733/uFE0F</string>
		<key>u_code</key>
		<string>\u2733\uFE0F</string>
		<key>code</key>
		<string>e5_097</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2747/uFE0F</string>
		<key>u_code</key>
		<string>\u2747\uFE0F</string>
		<key>code</key>
		<string>e5_098</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u274E</string>
		<key>u_code</key>
		<string>\u274E</string>
		<key>code</key>
		<string>e5_099</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2705</string>
		<key>u_code</key>
		<string>\u2705</string>
		<key>code</key>
		<string>e5_100</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2734/uFE0F</string>
		<key>u_code</key>
		<string>\u2734\uFE0F</string>
		<key>code</key>
		<string>e5_101</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDC9F</string>
		<key>u_code</key>
		<string>\uD83D\uDC9F</string>
		<key>code</key>
		<string>e5_102</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD9A</string>
		<key>u_code</key>
		<string>\uD83C\uDD9A</string>
		<key>code</key>
		<string>e5_103</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF3</string>
		<key>u_code</key>
		<string>\uD83D\uDCF3</string>
		<key>code</key>
		<string>e5_104</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCF4</string>
		<key>u_code</key>
		<string>\uD83D\uDCF4</string>
		<key>code</key>
		<string>e5_105</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD70</string>
		<key>u_code</key>
		<string>\uD83C\uDD70</string>
		<key>code</key>
		<string>e5_106</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD71</string>
		<key>u_code</key>
		<string>\uD83C\uDD71</string>
		<key>code</key>
		<string>e5_107</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD8E</string>
		<key>u_code</key>
		<string>\uD83C\uDD8E</string>
		<key>code</key>
		<string>e5_108</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDD7E</string>
		<key>u_code</key>
		<string>\uD83C\uDD7E</string>
		<key>code</key>
		<string>e5_109</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCA0</string>
		<key>u_code</key>
		<string>\uD83D\uDCA0</string>
		<key>code</key>
		<string>e5_110</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u27BF</string>
		<key>u_code</key>
		<string>\u27BF</string>
		<key>code</key>
		<string>e5_111</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u267B/uFE0F</string>
		<key>u_code</key>
		<string>\u267B\uFE0F</string>
		<key>code</key>
		<string>e5_112</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2648/uFE0F</string>
		<key>u_code</key>
		<string>\u2648\uFE0F</string>
		<key>code</key>
		<string>e5_113</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2649/uFE0F</string>
		<key>u_code</key>
		<string>\u2649\uFE0F</string>
		<key>code</key>
		<string>e5_114</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264A/uFE0F</string>
		<key>u_code</key>
		<string>\u264A\uFE0F</string>
		<key>code</key>
		<string>e5_115</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264B/uFE0F</string>
		<key>u_code</key>
		<string>\u264B\uFE0F</string>
		<key>code</key>
		<string>e5_116</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264C/uFE0F</string>
		<key>u_code</key>
		<string>\u264C\uFE0F</string>
		<key>code</key>
		<string>e5_117</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264D/uFE0F</string>
		<key>u_code</key>
		<string>\u264D\uFE0F</string>
		<key>code</key>
		<string>e5_118</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264E/uFE0F</string>
		<key>u_code</key>
		<string>\u264E\uFE0F</string>
		<key>code</key>
		<string>e5_119</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u264F/uFE0F</string>
		<key>u_code</key>
		<string>\u264F\uFE0F</string>
		<key>code</key>
		<string>e5_120</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2650/uFE0F</string>
		<key>u_code</key>
		<string>\u2650\uFE0F</string>
		<key>code</key>
		<string>e5_121</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2651/uFE0F</string>
		<key>u_code</key>
		<string>\u2651\uFE0F</string>
		<key>code</key>
		<string>e5_122</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2652/uFE0F</string>
		<key>u_code</key>
		<string>\u2652\uFE0F</string>
		<key>code</key>
		<string>e5_123</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2653/uFE0F</string>
		<key>u_code</key>
		<string>\u2653\uFE0F</string>
		<key>code</key>
		<string>e5_124</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26CE</string>
		<key>u_code</key>
		<string>\u26CE</string>
		<key>code</key>
		<string>e5_125</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD2F</string>
		<key>u_code</key>
		<string>\uD83D\uDD2F</string>
		<key>code</key>
		<string>e5_126</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83C/uDFE7</string>
		<key>u_code</key>
		<string>\uD83C\uDFE7</string>
		<key>code</key>
		<string>e5_127</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB9</string>
		<key>u_code</key>
		<string>\uD83D\uDCB9</string>
		<key>code</key>
		<string>e5_128</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB2</string>
		<key>u_code</key>
		<string>\uD83D\uDCB2</string>
		<key>code</key>
		<string>e5_129</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCB1</string>
		<key>u_code</key>
		<string>\uD83D\uDCB1</string>
		<key>code</key>
		<string>e5_130</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u00A9</string>
		<key>u_code</key>
		<string>\u00A9</string>
		<key>code</key>
		<string>e5_131</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u00AE</string>
		<key>u_code</key>
		<string>\u00AE</string>
		<key>code</key>
		<string>e5_132</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2122</string>
		<key>u_code</key>
		<string>\u2122</string>
		<key>code</key>
		<string>e5_133</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u303D/uFE0F</string>
		<key>u_code</key>
		<string>\u303D\uFE0F</string>
		<key>code</key>
		<string>e5_134</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u3030</string>
		<key>u_code</key>
		<string>\u3030</string>
		<key>code</key>
		<string>e5_135</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1D</string>
		<key>u_code</key>
		<string>\uD83D\uDD1D</string>
		<key>code</key>
		<string>e5_136</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1A</string>
		<key>u_code</key>
		<string>\uD83D\uDD1A</string>
		<key>code</key>
		<string>e5_137</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD19</string>
		<key>u_code</key>
		<string>\uD83D\uDD19</string>
		<key>code</key>
		<string>e5_138</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1B</string>
		<key>u_code</key>
		<string>\uD83D\uDD1B</string>
		<key>code</key>
		<string>e5_139</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD1C</string>
		<key>u_code</key>
		<string>\uD83D\uDD1C</string>
		<key>code</key>
		<string>e5_140</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u274C</string>
		<key>u_code</key>
		<string>\u274C</string>
		<key>code</key>
		<string>e5_141</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B55/uFE0F</string>
		<key>u_code</key>
		<string>\u2B55\uFE0F</string>
		<key>code</key>
		<string>e5_142</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2757/uFE0F</string>
		<key>u_code</key>
		<string>\u2757\uFE0F</string>
		<key>code</key>
		<string>e5_143</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2753</string>
		<key>u_code</key>
		<string>\u2753</string>
		<key>code</key>
		<string>e5_144</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2755</string>
		<key>u_code</key>
		<string>\u2755</string>
		<key>code</key>
		<string>e5_145</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2754</string>
		<key>u_code</key>
		<string>\u2754</string>
		<key>code</key>
		<string>e5_146</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD03</string>
		<key>u_code</key>
		<string>\uD83D\uDD03</string>
		<key>code</key>
		<string>e5_147</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5B</string>
		<key>u_code</key>
		<string>\uD83D\uDD5B</string>
		<key>code</key>
		<string>e5_148</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD67</string>
		<key>u_code</key>
		<string>\uD83D\uDD67</string>
		<key>code</key>
		<string>e5_149</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD50</string>
		<key>u_code</key>
		<string>\uD83D\uDD50</string>
		<key>code</key>
		<string>e5_150</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5C</string>
		<key>u_code</key>
		<string>\uD83D\uDD5C</string>
		<key>code</key>
		<string>e5_151</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD51</string>
		<key>u_code</key>
		<string>\uD83D\uDD51</string>
		<key>code</key>
		<string>e5_152</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5D</string>
		<key>u_code</key>
		<string>\uD83D\uDD5D</string>
		<key>code</key>
		<string>e5_153</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD52</string>
		<key>u_code</key>
		<string>\uD83D\uDD52</string>
		<key>code</key>
		<string>e5_154</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5E</string>
		<key>u_code</key>
		<string>\uD83D\uDD5E</string>
		<key>code</key>
		<string>e5_155</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD53</string>
		<key>u_code</key>
		<string>\uD83D\uDD53</string>
		<key>code</key>
		<string>e5_156</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5F</string>
		<key>u_code</key>
		<string>\uD83D\uDD5F</string>
		<key>code</key>
		<string>e5_157</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD54</string>
		<key>u_code</key>
		<string>\uD83D\uDD54</string>
		<key>code</key>
		<string>e5_158</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD60</string>
		<key>u_code</key>
		<string>\uD83D\uDD60</string>
		<key>code</key>
		<string>e5_159</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD55</string>
		<key>u_code</key>
		<string>\uD83D\uDD55</string>
		<key>code</key>
		<string>e5_160</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD56</string>
		<key>u_code</key>
		<string>\uD83D\uDD56</string>
		<key>code</key>
		<string>e5_161</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD57</string>
		<key>u_code</key>
		<string>\uD83D\uDD57</string>
		<key>code</key>
		<string>e5_162</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD58</string>
		<key>u_code</key>
		<string>\uD83D\uDD58</string>
		<key>code</key>
		<string>e5_163</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD59</string>
		<key>u_code</key>
		<string>\uD83D\uDD59</string>
		<key>code</key>
		<string>e5_164</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD5A</string>
		<key>u_code</key>
		<string>\uD83D\uDD5A</string>
		<key>code</key>
		<string>e5_165</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD61</string>
		<key>u_code</key>
		<string>\uD83D\uDD61</string>
		<key>code</key>
		<string>e5_166</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD62</string>
		<key>u_code</key>
		<string>\uD83D\uDD62</string>
		<key>code</key>
		<string>e5_167</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD63</string>
		<key>u_code</key>
		<string>\uD83D\uDD63</string>
		<key>code</key>
		<string>e5_168</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD64</string>
		<key>u_code</key>
		<string>\uD83D\uDD64</string>
		<key>code</key>
		<string>e5_169</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD65</string>
		<key>u_code</key>
		<string>\uD83D\uDD65</string>
		<key>code</key>
		<string>e5_170</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD66</string>
		<key>u_code</key>
		<string>\uD83D\uDD66</string>
		<key>code</key>
		<string>e5_171</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2716/uFE0F</string>
		<key>u_code</key>
		<string>\u2716\uFE0F</string>
		<key>code</key>
		<string>e5_172</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2795</string>
		<key>u_code</key>
		<string>\u2795</string>
		<key>code</key>
		<string>e5_173</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2796</string>
		<key>u_code</key>
		<string>\u2796</string>
		<key>code</key>
		<string>e5_174</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2797</string>
		<key>u_code</key>
		<string>\u2797</string>
		<key>code</key>
		<string>e5_175</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2660/uFE0F</string>
		<key>u_code</key>
		<string>\u2660\uFE0F</string>
		<key>code</key>
		<string>e5_176</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2665/uFE0F</string>
		<key>u_code</key>
		<string>\u2665\uFE0F</string>
		<key>code</key>
		<string>e5_177</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2663/uFE0F</string>
		<key>u_code</key>
		<string>\u2663\uFE0F</string>
		<key>code</key>
		<string>e5_178</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2666/uFE0F</string>
		<key>u_code</key>
		<string>\u2666\uFE0F</string>
		<key>code</key>
		<string>e5_179</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAE</string>
		<key>u_code</key>
		<string>\uD83D\uDCAE</string>
		<key>code</key>
		<string>e5_180</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDCAF</string>
		<key>u_code</key>
		<string>\uD83D\uDCAF</string>
		<key>code</key>
		<string>e5_181</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2714/uFE0F</string>
		<key>u_code</key>
		<string>\u2714\uFE0F</string>
		<key>code</key>
		<string>e5_182</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2611/uFE0F</string>
		<key>u_code</key>
		<string>\u2611\uFE0F</string>
		<key>code</key>
		<string>e5_183</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD18</string>
		<key>u_code</key>
		<string>\uD83D\uDD18</string>
		<key>code</key>
		<string>e5_184</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD17</string>
		<key>u_code</key>
		<string>\uD83D\uDD17</string>
		<key>code</key>
		<string>e5_185</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u27B0</string>
		<key>u_code</key>
		<string>\u27B0</string>
		<key>code</key>
		<string>e5_186</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD31</string>
		<key>u_code</key>
		<string>\uD83D\uDD31</string>
		<key>code</key>
		<string>e5_187</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD32</string>
		<key>u_code</key>
		<string>\uD83D\uDD32</string>
		<key>code</key>
		<string>e5_188</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD33</string>
		<key>u_code</key>
		<string>\uD83D\uDD33</string>
		<key>code</key>
		<string>e5_189</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25FC/uFE0F</string>
		<key>u_code</key>
		<string>\u25FC\uFE0F</string>
		<key>code</key>
		<string>e5_190</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25FB/uFE0F</string>
		<key>u_code</key>
		<string>\u25FB\uFE0F</string>
		<key>code</key>
		<string>e5_191</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25FE/uFE0F</string>
		<key>u_code</key>
		<string>\u25FE\uFE0F</string>
		<key>code</key>
		<string>e5_192</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25FD/uFE0F</string>
		<key>u_code</key>
		<string>\u25FD\uFE0F</string>
		<key>code</key>
		<string>e5_193</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25AA/uFE0F</string>
		<key>u_code</key>
		<string>\u25AA\uFE0F</string>
		<key>code</key>
		<string>e5_194</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u25AB/uFE0F</string>
		<key>u_code</key>
		<string>\u25AB\uFE0F</string>
		<key>code</key>
		<string>e5_195</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD3A</string>
		<key>u_code</key>
		<string>\uD83D\uDD3A</string>
		<key>code</key>
		<string>e5_196</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B1C/uFE0F</string>
		<key>u_code</key>
		<string>\u2B1C\uFE0F</string>
		<key>code</key>
		<string>e5_197</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2B1B/uFE0F</string>
		<key>u_code</key>
		<string>\u2B1B\uFE0F</string>
		<key>code</key>
		<string>e5_198</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26AB/uFE0F</string>
		<key>u_code</key>
		<string>\u26AB\uFE0F</string>
		<key>code</key>
		<string>e5_199</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26AA/uFE0F</string>
		<key>u_code</key>
		<string>\u26AA\uFE0F</string>
		<key>code</key>
		<string>e5_200</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD34</string>
		<key>u_code</key>
		<string>\uD83D\uDD34</string>
		<key>code</key>
		<string>e5_201</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD35</string>
		<key>u_code</key>
		<string>\uD83D\uDD35</string>
		<key>code</key>
		<string>e5_202</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD3B</string>
		<key>u_code</key>
		<string>\uD83D\uDD3B</string>
		<key>code</key>
		<string>e5_203</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD36</string>
		<key>u_code</key>
		<string>\uD83D\uDD36</string>
		<key>code</key>
		<string>e5_204</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD37</string>
		<key>u_code</key>
		<string>\uD83D\uDD37</string>
		<key>code</key>
		<string>e5_205</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD38</string>
		<key>u_code</key>
		<string>\uD83D\uDD38</string>
		<key>code</key>
		<string>e5_206</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/uD83D/uDD39</string>
		<key>u_code</key>
		<string>\uD83D\uDD39</string>
		<key>code</key>
		<string>e5_207</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u26D4/uFE0F</string>
		<key>u_code</key>
		<string>\u26D4\uFE0F</string>
		<key>code</key>
		<string>e5_208</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u203C/uFE0F</string>
		<key>u_code</key>
		<string>\u203C\uFE0F</string>
		<key>code</key>
		<string>e5_209</string>
	</dict>
	<dict>
		<key>image</key>
		<string>/u2049/uFE0F</string>
		<key>u_code</key>
		<string>\u2049\uFE0F</string>
		<key>code</key>
		<string>e5_210</string>
	</dict>
</array>
</plist>
